<%= form_for(@profile, :remote => true, :html => {:class => "form-horizontal"}) do |profile_form| %>
  
  	<fieldset>  
  		<% if f.error_messages.length > 0 %>
				<%= f.error_messages :header_message => "Perfil inválido",
	  			:message => "",
	  			:header_tag => :h3 %> 
			<%end%>
  		<div class="control-group">
    		<%= profile_form.label :Nombre, :class=> "control-label" %>   
    		<div class="controls">
    			<%= profile_form.text_field :name, :class => "input-xlarge" %>
	  		</div>
  		</div>
  		
  		<div class="control-group">
    		<div class="controls">
    			<%= profile_form.hidden_field :isActive, :value => false %>
	  		</div>
  		</div>

		<div class="control-group">
    		<%= profile_form.label :Acessorios, :class=> "control-label" %>   
    		<div class="controls">		 		
 				<%= profile_form.select :accessory_ids, Accessory.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>		
			   	<script type="text/javascript">
					$(function(){
						$("#profile_accessory_ids").multiSelect({
							selectableHeader: "<div class='header'>Accessorios</div>",
                        	selectedHeader: "<div class='header'>Accesorios del Perfil</div>"
                        });
					});
				</script>
   			</div>
  			
 		</div>
 	
		<div class="form-actions">
    		<%= profile_form.submit :GuardarCambios, :class => "btn btn-primary", :remote => true %>
		    <%= link_to "Programar", { :controller => "profiles" , :action => "schedules", :id => @profile.id }, :class => "btn btn-primary", :remote => true %>
  		</div>
  		
  	</fieldset>
    
<% end %>
