<%= form_for(@profile, :remote => true) do |profile_form| %>
  
 	<div class="field">
    	<%= profile_form.label :name%>
    	<%= profile_form.text_field :name %>
  	</div>
 	<div class="field">
    	<%= profile_form.hidden_field :isActive, :value => false %>
 	</div>
 	
	<div class="actions">
		<%= profile_form.submit %>
	</div>
	
	<select id='disabled-attribute' disabled='disabled' multiple='multiple'>


 <!-- TOOOOOOOOOOOOOOOOOODOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO-->
	<% @user.accessories.each do |accessory| %>
		<option value='fr'>accessory.</option>

    <% end %>
    
    </select>

<% end %>
