<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
			<%= image_tag("ihome_logo.jpg", :size => "120x120")%>
    </div>
  </div>
</div>
<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
<% end %>
<div class="container-fluid span9 fill">
	<h1> Bienvenido </h1>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row">
		<% if flash[:error]%>
		<div class="offset3"><span class="label label-warning"><%= render :text=> "Correo o contraseña inválida"%></span></div>
		<% end %>
		<br/>
		<div class="span8 offset4">
			<%= form_tag sessions_path do %>
			  <p>
			    <%= label_tag :Correo %><br />
			    <%= text_field_tag :email, params[:email] %>
			  </p>
			  <p>
			    <%= label_tag :Contraseña %><br />
			    <%= password_field_tag :password %>
			  </p>
			  <p class="button"><%= submit_tag "Log in" %></p>
			<% end %>
		</div>
	</div>
</div>