<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
			<%= image_tag("ihome_logo.jpg", :size => "120x120")%>
    </div>
  </div>
</div>
<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
<% end %>
<div class="hero-unit">
	<h1> Bienvenido </h1>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row">
		<% if flash[:notice]%>
		<div> <%= render :text=> "Email o contraseña inválida" %> </div>
		<% end %>
		<div class="span8 offset4">
			<%= form_tag sessions_path do %>
			  <p>
			    <%= label_tag :email %><br />
			    <%= text_field_tag :email, params[:email] %>
			  </p>
			  <p>
			    <%= label_tag :password %><br />
			    <%= password_field_tag :password %>
			  </p>
			  <p class="button"><%= submit_tag "Log in" %></p>
			<% end %>
		</div>
	</div>
</div>