<div class="span5 offset1">
	<h2> Bienvenido a iHome </h2>
	<h4>El Hogar Inteligente al alcance de todos! </h4>

</div>
	
<div class="span3 offset5 fill-loggin">
		
	<% if flash[:error]%>
		<span class="label label-warning"><%= render :text=> "Correo o contraseña inválida"%></span>
	<% end %>
	
	<table>
		<%= form_tag sessions_path do %>
		   <tr> 
		  	 <td><%= text_field_tag :email, params[:email], :placeholder => 'Ingresa tu correo', :required => "true" %></td>
		   </tr>
		  
		   <tr>  
		     <td><%= password_field_tag :password, nil, :placeholder => 'Ingresa tu contraseña', :required => "true", :class => "input-medium"%>  <%= submit_tag "Entrar", :class => "btn btn-primary logbutton"%></td>
		   </tr>
		<% end %>
	</table>

	<strong><%= link_to "¿Olvidó su contraseña?", session_recover_path,  {:style=>'color:#FFFFFF;'} %></strong>


</div>		
