$('#notice').empty();
<% if flash[:error] =~ /coinciden/i %>
$('#notice').append('<div class="offset1"><span class="label label-warning"><%= j render :text => "Las contraseñas no coinciden."%></span></div>');
<%elsif flash[:error] =~ /codigo/i %>
$('#notice').append('<div class="offset1"><span class="label label-warning"><%= j render :text => "El código ingresado no es válido."%></span></div>');
<%elsif flash[:error] =~ /usuario/i %>
$('#notice').append('<div class="offset1"><span class="label label-warning"><%= j render :text => "No hemos encotnrado usuario con el correo especificado."%></span></div>');
<%elsif flash[:notice] =~ /correctamente/i%>
$('#notice').append('<div class="offset1"><span class="label label-warning"><%= j render :text => "Se ha cambiado correctamente su contraseña.  "%><%= link_to 'Haga click aquí para ingresar con sus nuevas credenciales.',root_path %></span></div>');
<%end%>
