<%content_for :houses do%>

<p>
  <h1>Usuario Adminitrativo para: </h1>
</p>
<p>
  <b>Dirección:</b>
  <%= @house.address %>
</p>


<!-- Condición: Si no existen usuarios admin asociados a la casa, los muestra. De lo contrario muestra el formulario -->
<% if @house.users.count != 0 %>
  <%= render @house.users %>
<% else %>
  <h2>Añadir usuario:</h2>
  <%= render "users/formadmin" %>
<% end %>

<%= link_to 'Edit House', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %> |
<%end%>
