<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">iHome</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> <% if current_user %> <%= current_user.email %> <% end %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!--<li><a href="#">Profile</a></li>
          <li class="divider"></li> -->
          <li><%=link_to "Log Out",log_out_path %></li>
        </ul>
      </div>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-list"></i> IBox
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
		<% if @iboxes.length > 0%>
			<% for i in 0..@iboxes.length-1 %>
  				<li><a href="#"><%= @iboxes[i][:name]%></a></li>
			<%end%>
		<%end%>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Control", :controller=>"home", :action=>"index"%></li>
          <li class="active"><%= link_to "Administración", :controller=>"admin", :action=>"index"%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>

<%content_for :iboxes do%>
	<%= render "iboxes/enable" %>
<%end%>
<%if @iboxes.length > 0 %>
	<%content_for :users do%>
	<h3><a href="#">Editar Usuarios</a></h3>
		<div>
		
		</div>
<%end%>
	
<%content_for :accessories do%>
	<h3><a href="#">Agregar Accesorios</a></h3>
	<div>
	</div>
<%end%>
<%end%>
