	<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid span9 offset1">
      <a class="brand" href="#">iHome</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> <% if current_user %> <%= current_user.email %> <% end %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!--<li><a href="#">Profile</a></li>
          <li class="divider"></li> -->
          <li><%=link_to "Log Out",log_out_path %></li>
        </ul>
      </div>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-list"></i> IBox
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
		<% if @iboxes.length > 0%>
    	<% for i in 0..@iboxes.length-1 %>
    	  <li><%= link_to @iboxes[i][:name], :controller => "home", :action => "index", :id => @iboxes[i][:id] %></li>
			<%end%>
		<%end%>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Control", :controller=>"home", :action=>"index"%></li>
          <li class="active"><%= link_to "Administración", :controller=>"admin", :action=>"index"%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
<%content_for :iboxes do%>
	<div style="visibility: hidden;" class="row-fluid">.</div>
	<div class="row-fluid">
		<div class="span8 offset1">
			<%if @iboxes.length > 0 %>
				<%= render "iboxes/all2" %>
				<br />
			<%end%>
			<%= link_to "Habilitar Ibox", show_enable_path, {:remote => true} %>
		</div>
	</div>
<%end%>
<%if @iboxes.length > 0 %>

	<%content_for :users do%>
		<%= render "users/all"%>
		<%= link_to "Agregar nuevo usuario", new_no_admin_path, :remote=>true%>		
	<%end%>
	
	<%content_for :accessories do%>
		<%= render "iboxes/editAccessories" %>
	<%end%>
	
	<%content_for :cameras do%>
		<%if @iboxes.length > 0%>
			<%= render 'cameras/all'%>
			<%=link_to "Agregar nueva cámara", new_camera_path, :remote=>true %>
		<%else%>
			<%= render 'shared/flash_messages' %>
		<%end%>
	<%end%>
	
<%else%>
	<%content_for :users do%>
		<%if @iboxes.length > 0%>
			<%=link_to "Crear nuevo admin", new_no_admin_path, :remote=>true %>
		<%else%>
			<%= render 'shared/flash_messages' %>
		<%end%>
	<%end%>
<%end%>
