<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		<div class="span8 offset2">

		  <a class="brand" href="#">iHome</a>
		  <div class="btn-group pull-right">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		      <% if session[:mobile]%>
		      <i class="icon-user"></i>
		      <%else%>
		      <i class="icon-user"></i> <% if current_user %> <%= current_user.email %> <% end %>
		      <%end%>
		      <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		      <li><a data-toggle="modal" onclick="javascript:resetModal();" href="#editUser">Editar</a></li>
		      <li class="divider"></li>
		      <li><%=link_to "Salir",log_out_path %></li>
		    </ul>      
		  </div>
		  <div class="btn-group pull-right">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		      <% if @ibox%>
		    		<i class="icon-list"></i> <%=@ibox[:name]%>
		      <%else%>
		     	 	<i class="icon-list"></i> IBox
		      <%end%>
		      <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
			<% if @iboxes.length > 0%>
			<% for i in 0..@iboxes.length-1 %>
			 	<li><%= link_to @iboxes[i][:name], :controller => "admin", :action => "changeIbox", :id => @iboxes[i][:id] %></li>
				<%end%>
			<%end%>
		    </ul>
		  </div>
		 	<% if session[:mobile] == true %>
		      <ul class="nav">
		        <li class="dropdown">  
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      		Administraci&oacute;n
		      		<b class="caret"></b>
		    		</a>
		          <ul class="dropdown-menu"
		          <li><%= link_to "Control", :controller=>"home", :action=>"index"%></li>
		          <% if @user.isAdmin %>
		          	<li><%= link_to "Administración", :controller=>"admin", :action=>"index"%></li>
		        	<%end%>
		      		</ul>
		      	</li>
		    </ul>
		 	<% else %>
		     	<ul class="nav">
		      <li><%= link_to "Control", :controller=>"home", :action=>"index"%></li>
		    	<% if @user.isAdmin %>
		      	<li class="active"><%= link_to "Administración", :controller=>"admin", :action=>"index"%></li>
		    	<%end%>
		    </ul>
			<%end%>
		</div>
	</div>
  </div>
</div>
<% end %>
<%content_for :iboxes do%>
	<%if @iboxes.length > 0 %>
		<%= render "iboxes/all2" %>
	<%end%>
	<%= link_to "Habilitar Nuevo Ibox", show_enable_path, :class => 'btn btn-primary', :remote => true %>

<%end%>
<%if @iboxes.length > 0 %>

	<%content_for :users do%>
		<%= render "users/all"%>
		<%= link_to "Agregar nuevo usuario", new_no_admin_path, :remote=>true, :class => 'btn btn-primary'%>		
	<%end%>
	
	<%content_for :accessories do%>
		<%= render "iboxes/editAccessories" %>
		<%= render "accessories/all" %>
	<%end%>
	
	<%content_for :cameras do%>
		<%if @iboxes.length > 0%>
			<%= render 'cameras/all'%>
			<%=link_to "Agregar nueva cámara", new_camera_path, :remote=>true, :class => 'btn btn-primary'%>
		<%else%>
			<%= render 'shared/flash_messages' %>
		<%end%>
	<%end%>
	
<%else%>
	<%content_for :users do%>
		<%if @iboxes.length > 0%>
			<%=link_to "Crear nuevo admin", new_no_admin_path, :remote=>true %>
		<%else%>
			<%= render 'shared/flash_messages' %>
		<%end%>
	<%end%>
<%end%>

<!-- MODAL EDICION DE USUARIO -->
<div id="editUser" class="modal hide fade in" style="display: none; ">  
	<div class="modal-header">  
	<a class="close" data-dismiss="modal">×</a>  
	<h3>Editando Usuario</h3>  
	</div>  
	<div id="modal-edit" class="modal-body">  
	</div>  	 
</div>
<script type="text/javascript">
	function resetModal(){
		$('#modal-edit').empty();
		$('#modal-edit').append('<%= j render "users/formEdit"%>');
	}
</script>    
