<%= form_for(@user,:remote=>true, :html => {:class => "form-horizontal"}) do |user_form| %>
	<fieldset>
		<legend>Usuario</legend>
		<% if user_form.error_messages.length > 0%>
   			<%= user_form.error_messages :header_message => "Usuario inv치lido",	:message => "", :header_tag => :h3 %>  
 		<%end%>
		<div class="control-group">
        	<%= user_form.label :nombre, :class => "control-label" %>
        	<div class="controls">
            	<%= user_form.text_field :name, :class => "input-xlarge" %>
            </div>
		</div>
		
		<div class="control-group">
        	<%= user_form.label :correo, :class => "control-label" %>
        	<div class="controls">
            	<%= user_form.email_field :email, :class => "input-xlarge" %>
            </div>
		</div>
		
		<div class="control-group">
        	<%= user_form.label :contrase침a, :class => "control-label" %>
        	<div class="controls">
            	<%= user_form.password_field :password, :class => "input-xlarge" %>
            </div>
		</div>
		
		<div class="control-group">
        	<%= user_form.label :confirmaci칩n_contrase침a, :class => "control-label" %>
        	<div class="controls">
            	<%= user_form.password_field :password_confirmation, :class => "input-xlarge" %>
            </div>
		</div>
		
        	<%= user_form.hidden_field :isAdmin, :value => false %>

        	<%= user_form.hidden_field :isSuperAdmin, :value => false %>

	     		<%= user_form.hidden_field :address, :value => 'address' %>
		
        	<%= user_form.hidden_field :phone, :value => 'phone' %>
		
        	<%= user_form.hidden_field :rut, :value => 'rut' %>
        	
        	<%= user_form.hidden_field :code, :value => 'ZHW80QakD77rpoz7XKYxFBTUe4dia7YIZhOFMXinD3A=' %>
		
		<div class="form-actions">
	    <% if @edit %>
	    	<%= user_form.submit :Actualizar, :class => "btn btn-primary" %>
	    <%else%>
	    	<%= user_form.submit :Crear, :class => "btn btn-primary" %>
	    <%end%>
    </div>
				
 	</fieldset>
<% end %>