<%= form_for(@user,:remote=>true, :html => {:class => "form-horizontal"}) do |user_form| %>
	
	<fieldset>
		<legend>Usuario</legend>
		<% if user_form.error_messages.length > 0 or @error_contrasena %>
   		<%= render "shared/flash_messages"%>
 		<%end%>
		<div class="control-group">
        	<%= user_form.label :Nombre, :class => "control-label" %>
        	<div class="controls">
            	<%= user_form.text_field :name, :class => "input-xlarge" %>
            </div>
		</div>
		
		<div class="control-group">
        	<%= user_form.label :email, :class => "control-label" %>
        	<div class="controls">
            	<%= user_form.email_field :email, :class => "input-xlarge" %>
            </div>
		</div>
		
		<div class="control-group">
        	<%= user_form.label :contraseña, :class => "control-label" %>
        	<div class="controls">
            	<%= user_form.password_field :password, :class => "input-xlarge" %>
            </div>
		</div>
		
		<div class="control-group">
        	<%= user_form.label :confirmación_contraseña, :class => "control-label" %>
        	<div class="controls">
            	<%= user_form.password_field :password_confirmation, :class => "input-xlarge" %>
            </div>
		</div>
		
        	<%= user_form.hidden_field :isAdmin, :value => false %>

        	<%= user_form.hidden_field :isSuperAdmin, :value => false %>

	     	<%= user_form.hidden_field :address, :value => 'address' %>
		
        	<%= user_form.hidden_field :phone, :value => 'phone' %>
		
        	<%= user_form.hidden_field :rut, :value => 'rut' %>
		
		<div class="form-actions">
            <%= user_form.submit :class => "btn btn-primary" %>
        </div>
				
 	</fieldset>
<% end %>