<%= form_for(@user) do |user_form| %>
 <div class="field">
    <%= user_form.label :email %><br />
    <%= user_form.email_field :email %>
  </div>
  <div class="field">
  	<%= user_form.label :contraseña %><br />
  	<%= user_form.password_field :password %>
  </div>
 <div class="field">
    <%= user_form.label :name%><br />
    <%= user_form.text_field :name %>
  </div>
 <div class="field">
 	<%= user_form.label :isAdmin%>
    <%= user_form.check_box :isAdmin%>
  </div>
   <div class="field">
    <%= user_form.label :Dirección %><br />
    <%= user_form.text_field :address %>
  </div>
 <div class="field">
    <%= user_form.label :Telefono %><br />
    <%= user_form.text_field :phone %>
  </div>
 <div class="field">
    <%= user_form.label :rut %><br />
    <%= user_form.text_field :rut %>
  </div>

  <div class="actions">
    <%= user_form.submit %>
  </div>
<% end %>
