<%= form_for(@user,:remote=>true, :html => {:class => "form-horizontal"}) do |user_form| %>
		<% if user_form.error_messages %>
   		<%= user_form.error_messages :header_message => "Usuario inv치lido",
  			:message => "",
  			:header_tag => :h3 %>  
 		<%end%>
		<div class="control-group">
    	<%= user_form.label :nueva_contrase침a, :class => "control-label" %>
    	<div class="controls">
    		<%= user_form.password_field :password, :class => "input-xlarge" %>
      </div>
		</div>
		
		<div class="control-group">
    	<%= user_form.label :confirmaci칩n_nueva_contrase침a, :class => "control-label" %>
    	<div class="controls">
    	<%= user_form.password_field :password_confirmation, :class => "input-xlarge" %>
  		</div>
		</div>
		<%= user_form.hidden_field :name, :value=> @user.name %>
		
		<%= user_form.hidden_field :email, :value => @user.email %>
  	
  	<%= user_form.hidden_field :isAdmin, :value => @user.isAdmin %>

  	<%= user_form.hidden_field :isSuperAdmin, :value => @user.isSuperAdmin %>

 		<%= user_form.hidden_field :address, :value => @user.address %>

  	<%= user_form.hidden_field :phone, :value => @user.phone %>

  	<%= user_form.hidden_field :rut, :value => @user.rut %>
		
		<div class="modal-footer">
	    <%= user_form.submit :Actualizar, :class => "btn btn-primary" %>
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>        
    </div>
				
<% end %>
