<%= form_for(@user, :remote => true) do |user_form| %>
 <% if user_form.error_messages.length > 0 %>
   	<%= user_form.error_messages :header_message => "Usuario inválido",
  :message=> "",
  :header_tag => :h3 %>  
 <%end%>
 <div class="field">
    <%= user_form.label :email %>
    <%= user_form.email_field :email %>
  </div>
  <div class="field">
  	<%= user_form.label :contraseña %>
  	<%= user_form.password_field :password %>
  </div>
  <div class="field">
  	<%= user_form.label :confirmación_contraseña %>
  	<%= user_form.password_field :password_confirmation %>
  </div>
 <div class="field">
    <%= user_form.label :name%>
    <%= user_form.text_field :name %>
  </div>
 <div class="field">
    <%= user_form.hidden_field :isAdmin, :value => true %>
  </div>
  <div class="field">
    <%= user_form.hidden_field :isSuperAdmin, :value => false %>
  </div>
   <div class="field">
    <%= user_form.label :Dirección %>
    <%= user_form.text_field :address %>
  </div>
 <div class="field">
    <%= user_form.label :Telefono %>
    <%= user_form.text_field :phone %>
  </div>
 <div class="field">
    <%= user_form.label :rut %>
    <%= user_form.text_field :rut %>
  </div>
  <div class="actions">
    <%= user_form.submit %>
  </div>
<% end %>
