<h1>Iboxs para usuario <%= %></h1>

<table class="table table-striped">
  <tr>
 	<th>Id</th>
    <th>Nombre</th>
    <th>IP</th>
    <th>Puerto</th>    
		<th>Activo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @iboxes.each do |ibox| %>
  <% if ibox.isActive == false %>
	  <tr>
	  	<td><%= ibox.id %></td>
	  	<td><%= ibox.name %></td>
	    <td><%= ibox.ip %></td>
	    <td><%= ibox.port %></td>    
	    <td><%= ibox.isActive ? 'si' : 'no' %><td>
				
	    <td><%= link_to 'Editar', edit_ibox_path(ibox), :remote => true %></td>
	    <td><%= link_to 'Eliminar', ibox, method: :delete, :remote => true, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
  <%end%>
<% end %>
</table>
<br />





