<!-- PARTIAL PARA LISTAR IBOXES DE UN USUARIO -->
<h3>Iboxs Habilitados</h3>

<table class="table table-striped">
	
  <tr>
    <th>Nombre</th>
    <th>MAC</th>
    <th>DNS</th>
    <th>Puerto</th>    
    <th>Acciones</th>
  </tr>

<% @iboxes.each do |ibox| %>
  <tr>
  	<td><%= ibox.name %></td>
    <td><%= ibox.mac %></td>
    <td><%= ibox.ip %></td>
    <td><%= ibox.port %></td>    
    <td><%= link_to 'Editar', edit_ibox_path(ibox), :class => 'btn btn-mini', :remote => true %>
    <%= link_to 'Resetear', {:controller=>"iboxes",:action=>"reset",:id=>ibox.id},:class=>'btn btn-mini btn-danger', :remote=>true, :data=>{:confirm=>"¿Estás seguro que quieres resetear el ibox a su estado de fábrica?"}%></td>
  </tr>
<% end %>

</table>





