<h1>Iboxs Inactivos</h1>

<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <th>MAC</th>
    <th>DNS</th>
    <th>Puerto</th>    
		<th>Activo</th>
    <th>Acciones</th>
  </tr>

<% @iboxes.each do |ibox| %>
  <% if ibox.isActive == false %>
	  <tr>
	  	<td><%= ibox.name %></td>
	  	<td><%= ibox.mac %></td>
	    <td><%= ibox.ip %></td>
	    <td><%= ibox.port %></td>    
	    <td><%= ibox.isActive ? 'si' : 'no' %></td>				
	    <td><%= link_to 'Editar', edit_ibox_path(ibox), :remote => true, :class => 'btn btn-mini' %>
	    <%= link_to 'Eliminar', ibox, :method => :delete, :remote => true, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
	  </tr>
  <%end%>
<% end %>
</table>





