<%= form_for(@ibox, :remote => true, :html => {:class => "form-horizontal"}) do |f| %>
	
	<fieldset>
	<% if @create %>
			<legend>Nuevo Ibox</legend>			
		<%else%>
			<legend>Editando Ibox</legend>
		<%end%>
	<% if f.error_messages.length > 0 %>
		<%= f.error_messages :header_message => "Ibox inválido",
  :message => "",
  :header_tag => :h3 %>   
	<%end%>
	
		<div class="control-group">
		<%= f.label :Nombre, :class => "control-label" %>   
			<div class="controls">
				<%= f.text_field :name, :class => "input-xlarge"%>
			</div>
		</div>
		<div class="control-group">
		<%= f.label :DNS, :class => "control-label" %>   
			<div class="controls">
				<%= f.text_field :ip, :class => "input-xlarge" %>
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :Puerto, :class => "control-label" %>   
			<div class="controls">
				<%= f.text_field :port, :class => "input-xlarge" %>
			</div>
		</div>
	
		<%= f.hidden_field :user, :value=>'root' %>
	
		<%= f.hidden_field :password, :value =>'' %>
	
		<% if @create %>
			<%= f.hidden_field :isActive, :value => false %>
		<%else %>
			<%= f.hidden_field :isActive, :value => @ibox.isActive %>
		<%end%>
	
  <div class="form-actions">
  	<% if @create %>
    <%= f.submit :Crear, :class=>"btn btn-primary" %>
    <% else %>
    <%= f.submit :Actualizar, :class=>"btn btn-primary" %>
    <%end%>
  </div>
<% end %>

</fieldset>