<%= form_for(@ibox, remote: true) do |f| %>
   <div class="field">
    <%= f.label :Nombre %>   <%= f.text_field :name %>
    <%= f.label :IP %>   <%= f.text_field :ip %>
    <%= f.label :Puerto %>   <%= f.text_field :port %>
   	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
