<%= form_for(@ibox, :remote => true) do |f| %>
   <% if f.error_messages%>
   	<%= render "shared/flash_messages"%>
   <%end%>
   <div class="field">
    <%= f.label :Nombre %>   <%= f.text_field :name %>
    <%= f.label :IP %>   <%= f.text_field :ip %>
    <%= f.label :Puerto %>   <%= f.text_field :port %>
    <%= f.label :Usuario %>   <%= f.text_field :user %>
   	<%= f.label :Contraseña %> <%= f.password_field :password %>
   	<%= f.hidden_field :isActive, :value => false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
