<%= form_for(@schedule, :remote => true, :html => {:class => "form-horizontal"}) do |sf| %>
	<% counter = 0 %>
	<%= sf.fields_for :actions do |a| %>

		<ul class="schentries"> 
			 <li class="row-fluid">
			 	
			 	<div class="span12">
			     	<!-- Nombre accesorio -->
					<span class="title"><%=  @schedule.accessory.name%></span>
					
				<span class="timebegin">		
					<%= link_to "Eliminar", { :controller => "schedules" , :action => "destroyAction", :id => a.object.id }, :class => "btn btn-mini btn-danger", :remote => true %>
				</div>
				
				<div class="span12">
					<!-- 		 		-->
					<!-- OPCIONES INICIO-->
					<!--		 		-->
					
					<!-- Hora inicio -->
					<span class="timebegin">
						<%=a.text_field :time_start, :maxlength => 5, :class => "input-mini" %>
					</span>
					
					<!-- Dia inicio -->
					<span class="daybegin">
						<div class="btn-group" id="<%= a.object.id.to_s + "dayBegin"%>" data-toggle-name="<%= a.object.id.to_s + "dayBegin"%>" data-toggle="buttons-radio" >
							<button class="btn btn-info btn-mini" value=1 type="button">L</button>
							<button class="btn btn-info btn-mini" value=2 type="button">M</button>
							<button class="btn btn-info btn-mini" value=3 type="button">M</button>
							<button class="btn btn-info btn-mini" value=4 type="button">J</button>
							<button class="btn btn-info btn-mini" value=5 type="button">V</button>
							<button class="btn btn-info btn-mini" value=6 type="button">S</button>
							<button class="btn btn-info btn-mini" value=0 type="button">D</button>
						</div>
						<%= a.hidden_field :day_begin %>
						
						<input type="hidden" name="is_private" value="0" />
					</span>
						
					<!-- Texto inicio -->
					<span class="textbegin">Hora Inicio</span>
					
					
					<!-- Java Script hora inicio -->
					<script type="text/javascript">
						$(function(){
						    $('#schedule_actions_attributes_<%=counter %>_time_start').scroller({
						        preset: 'time',
						        theme: 'default',
						        display: 'modal',
						        mode: 'scroller',
						        width: 3
						    });    
						});
					</script>

					<!-- Java Script día inicio -->
					<script type="text/javascript">
						$(function(){
						  $('div.btn-group[data-toggle-name="<%= a.object.id.to_s + "dayBegin"%>"]').each(function(){
						    var group   = $(this);
						    var form    = group.parents('form').eq(0);
						    var name    = group.attr('data-toggle-name');
						    var hidden  = $('#schedule_actions_attributes_<%=counter %>_day_begin', form);
						    $('button', group).each(function(){
						    	
						      var button = $(this);
						      button.live('click', function(){
						          hidden.val($(this).val());
						      });
						      if(button.val() == hidden.val()) {
						        button.addClass('active');
						      }
						    });
						  });
						});
					</script>
					
					

				</div>
			
				<div class="span12">		
					<!-- 		 		 -->
					<!-- OPCIONES TERMINO-->
					<!--		 		 -->
			
					<!-- Hora termino -->
					<span class="timeend">
						<%=a.text_field :time_end, :maxlength => 5, :class => "input-mini" %>
					</span>
					
					<!-- Dia termino -->
					<span class="dayend">
						<div class="btn-group" id="<%= a.object.id.to_s + "dayEnd"%>" data-toggle-name="<%= a.object.id.to_s + "dayEnd"%>" data-toggle="buttons-radio" >
							<button class="btn btn-info btn-mini" value=1 type="button">L</button>
							<button class="btn btn-info btn-mini" value=2 type="button">M</button>
							<button class="btn btn-info btn-mini" value=3 type="button">M</button>
							<button class="btn btn-info btn-mini" value=4 type="button">J</button>
							<button class="btn btn-info btn-mini" value=5 type="button">V</button>
							<button class="btn btn-info btn-mini" value=6 type="button">S</button>
							<button class="btn btn-info btn-mini" value=0 type="button">D</button>
						</div>
						<%= a.hidden_field :day_end %>
					</span>
					
					<!-- Texto termino -->
					<span class="textend">Hora Término </span>

					
					<!-- Java Script hora termino -->
					<script type="text/javascript">
						$(function(){
						    $('#schedule_actions_attributes_<%=counter %>_time_end').scroller({
						        preset: 'time',
						        theme: 'default',
						        display: 'modal',
						        mode: 'scroller',
						        width: 3
						    });    
						});
					</script>
					
					<!-- Java Script día inicio -->
					<script type="text/javascript">
						$(function(){
						  $('div.btn-group[data-toggle-name="<%= a.object.id.to_s + "dayEnd"%>"]').each(function(){
						    var group   = $(this);
						    var form    = group.parents('form').eq(0);
						    var name    = group.attr('data-toggle-name');
						    var hidden  = $('#schedule_actions_attributes_<%=counter %>_day_end', form);
						    $('button', group).each(function(){
						    	
						      var button = $(this);
						      button.live('click', function(){
						          hidden.val($(this).val());
						      });
						      if(button.val() == hidden.val()) {
						        button.addClass('active');
						      }
						    });
						  });
						});
					</script>
				</div>
				
				<div class="span12">
					<!-- Botón reiteración -->
					<div class="reiterative" id="<%= a.object.id.to_s + "reiterative"%>">
						<%= a.check_box :repeat_weekly %> Repetir todas las semanas
						<!-- Botón reiteración -->
						<%= a.check_box :repeat_dayly %> Repetir todos los dias
					</div>
					
					<script type="text/javascript">
						$(function(){
							if ($('#schedule_actions_attributes_<%= counter %>_repeat_dayly').is(":checked")){
								$('div.btn-group[data-toggle-name="<%= a.object.id.to_s + "dayBegin"%>"]').each(function(){
									var group = $(this);
									$('button', group).each(function(){
										var button = $(this);
										button.attr("disabled", true);
									});
								});
								$('div.btn-group[data-toggle-name="<%= a.object.id.to_s + "dayEnd"%>"]').each(function(){	
									var group = $(this);
									$('button', group).each(function(){
										var button = $(this);
										button.attr("disabled", true);
									});
								});
							}					
							$('#schedule_actions_attributes_<%= counter %>_repeat_dayly').click(function(){
								$('#schedule_actions_attributes_<%= counter %>_repeat_weekly').removeAttr("checked");		
								if ($(this).is(":checked")){
									$('div.btn-group[data-toggle-name="<%= a.object.id.to_s + "dayBegin"%>"]').each(function(){
										var group = $(this);
										$('button', group).each(function(){
											var button = $(this);
											button.attr("disabled", true);
										});
									});
									$('div.btn-group[data-toggle-name="<%= a.object.id.to_s + "dayEnd"%>"]').each(function(){	
										var group = $(this);
										$('button', group).each(function(){
											var button = $(this);
											button.attr("disabled", true);
										});
									});
								}
								else{
									$('div.btn-group[data-toggle-name="<%= a.object.id.to_s + "dayBegin"%>"]').each(function(){
										var group = $(this);
										$('button', group).each(function(){
											var button = $(this);
											button.attr("disabled", false);
										});
									});
									$('div.btn-group[data-toggle-name="<%= a.object.id.to_s + "dayEnd"%>"]').each(function(){	
										var group = $(this);
										$('button', group).each(function(){
											var button = $(this);
											button.attr("disabled", false);
										});
									});
								}
							});
							$('#schedule_actions_attributes_<%= counter %>_repeat_weekly').click(function(){
								if ($(this).is(":checked")){
									$('#schedule_actions_attributes_<%= counter %>_repeat_dayly').removeAttr("checked");
									$('div.btn-group[data-toggle-name="<%= a.object.id.to_s + "dayBegin"%>"]').each(function(){
										var group = $(this);
										$('button', group).each(function(){
											var button = $(this);
											button.attr("disabled", false);
										});
									});
									$('div.btn-group[data-toggle-name="<%= a.object.id.to_s + "dayEnd"%>"]').each(function(){	
										var group = $(this);
										$('button', group).each(function(){
											var button = $(this);
											button.attr("disabled", false);
										});
									});
								 }
							});
						});
					</script>
				</div>
			 </li>
		</ul>
		<% counter = counter + 1%>
	<% end %>
	<% if @schedule.actions.length > 0 %>
	  <p><%= submit_tag "Guardar Programación",  :class => "btn btn-primary"%></p>
	<%end%>
	  <%= link_to "Nueva Acción", { :controller => "schedules" , :action => "newAction", :id => @schedule.id }, :class => "btn btn-small btn-primary", :remote => true %>
	  <%= link_to 'Atrás', back_profile_path, :remote=>true, :class=>"btn btn-small btn-primary" %>
<% end %>

