<script type="text/javascript">

$(function() {
$("#accordion").accordion();
//$(".collapse").collapse();
//$(".collapse").collapse("hide");

});
</script>
<!-- Contenido navbar (barra de arriba) -->
<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
     	<%= image_tag("ihome_logo.jpg", :size => "120x120")%>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> <% if current_user %> <%= current_user.email %> <% end %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!--<li><a href="#">Profile</a></li>
          <li class="divider"></li> -->
          <li><%=link_to "Log Out",log_out_path %></li>
        </ul>
      </div>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-list"></i> IBox
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">ibox1</a></li>
          <li class="divider"></li>
          <li><a href="#">ibox2</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>

<%content_for :profiles do%>
<div id="myCollapsibleExample"><ul class="nav nav-pills nav-stacked"><li class="active"><a href="#perfiles" data-toggle="collapse">Perfiles</a></li></ul></div>  
	<div id="perfiles" class="collapse">  
		<div class="hero-unit">

		</div>
	</div>  

<% end %>
<% content_for :cameras do %>
<div id="myCollapsibleExample"><ul class="nav nav-pills nav-stacked"><li class="active"><a href="#camaras" data-toggle="collapse">C&aacutemaras</a></li></ul></div>  
	<div id="camaras" class="collapse">  
		<!-- <div class="hero-unit"> -->
		      	<div id="rotating-item-wrapper" class="offset3">  
			      <a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a>
			      <a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a>
			      <a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a>
			      <a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a>
			
			      <div id="nav"></div>
			      <div id="next" style="opacity: 1;"><a id="nextBt" href="#"></a></div>
			      <div id="previous" style="opacity: 1;"><a id="prevBt" href="#"></a></div>
				</div> 
	</div>
<% end %>
<div id="accordion" class="row-fluid">
	<h3><a href="#">Luces</a></h3>
  <div>
  </div>
  <h3><a href="#">Riego</a></h3>
  <div>
  </div>
  <h3><a href="#">Cortinas</a></h3>
  <div>
  </div>
  <h3><a href="#">Climatizaci&oacute;n</a></h3>
  <div>
  </div>
  <h3><a href="#">Otros</a></h3>
  <div>
  	<%= render :partial =>"accessories/all" %>
  </div>
      
</div>


