<script type="text/javascript">
$(function() {
	$.fn.cycle.transitions.scrollHorzTouch = function($cont, $slides, opts) {
	$cont.css('overflow','hidden').width();
	opts.before.push(function(curr, next, opts, fwd) {

        if (opts.rev)
        fwd = !fwd;

        positionNext = $(next).position();
        positionCurr = $(curr).position();

        $.fn.cycle.commonReset(curr,next,opts);
        if( ( positionNext.left > 0 && fwd ) || ( positionNext.left <  0 && !fwd ) )
        {
            opts.cssBefore.left = positionNext.left;
        }
        else
        {
            opts.cssBefore.left = fwd ? (next.cycleW-1) : (1-next.cycleW);
        }
        if( ( positionCurr.left > 0 && fwd ) || ( positionCurr.left <  0 && !fwd ) )
        {
                     opts.animOut.left = positionCurr.left;
        }
        else
        {
                opts.animOut.left = fwd ? -curr.cycleW : curr.cycleW;
        }

	});
	opts.cssFirst.left = 0;
	opts.cssBefore.top = 0;
	opts.animIn.left = 0;
	opts.animOut.top = 0;
};
     var currenSlide = null;
     var slideNumber = 0;
     var currentLeft = 0;
     var leftStart = 0;
     var sliderExpr;
     var slideFlag = false;

 $('#rotating-item-wrapper').cycle({
        fx:     'scrollHorzTouch',
        timeout: 0,
        pager:  '#nav',
        speedIn:   400,
        speedOut:   400,
        slideExpr: 'img',
        next:   '#nextBt',
        prev:   '#prevBt',
        before: beforeSlide,
        after: afterSlide,
        startingSlide: 0


    });



$('#rotating-item-wrapper').swipe({ swipeMoving: function( pageX ){

        if( slideFlag ) return;

        var newLeft = currentLeft-pageX;

        currenSlide.css('left', newLeft+'px'  );

        var $slides = $( sliderExpr, $('#rotating-item-wrapper') );
        var scrollSlide;

        nextSlideLeft =   newLeft > 0 ? newLeft - currenSlide.width(): newLeft+currenSlide.width();
        flag = newLeft > 0 ? -1: 1;
        scrollSlide  = slideNumber + flag;
        if( scrollSlide < 0 || scrollSlide > ($slides.length - 1 ) )
        {
            scrollSlide = scrollSlide < 0 ? $slides.length - 1 : 0;
        }

         $slides.eq( scrollSlide ).css('left',nextSlideLeft + 'px' );
         $slides.eq( scrollSlide ).show();
    },
    swipeLeft: function(){$('#rotating-item-wrapper').cycle('next');},
    swipeRight: function(){ $('#rotating-item-wrapper').cycle('prev'); }


    });


// Call this function before the slide start
function beforeSlide( curr, next , opt )
{
     sliderExpr = opt.slideExpr;
     slideFlag = true;
}

// Call this function after the slide start
function afterSlide(curr, next , opt )
{
    currenSlide =  $(next);
    slideNumber = opt.currSlide;
    currentLeft = $(next).position().left;
    slideFlag = false;
}


$("#accordioncito").accordion();
$(".collapse").collapse();
$(".collapse").collapse("hide");
});

</script>
<!-- Contenido navbar (barra de arriba) -->
<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
     	<%= image_tag("ihome_logo.jpg", :size => "120x120")%>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> Username
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!--<li><a href="#">Profile</a></li>
          <li class="divider"></li> -->
          <li><%=link_to "Sign Out",:controller => "home",:action => "signout" %></li>
        </ul>
      </div>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-list"></i> IBox
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%=link_to "ibox1",{:controller => "home",:action => "index", :id=>"1"} %></li>
          <li class="divider"></li>
          <li><a href="#">ibox2</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>

<%content_for :profiles do%>
<div id="myCollapsibleExample"><ul class="nav nav-pills nav-stacked"><li class="active"><a href="#perfiles" data-toggle="collapse">Perfiles</a></li></ul></div>  
	<div id="perfiles" class="collapse">  
		<div class="hero-unit">

		</div>
	</div>  

<% end %>
<% content_for :cameras do %>
<div id="myCollapsibleExample"><ul class="nav nav-pills nav-stacked"><li class="active"><a href="#camaras" data-toggle="collapse">C&aacutemaras</a></li></ul></div>  
	<div id="camaras" class="collapse">  
		<!-- <div class="hero-unit"> -->
		      	<div id="rotating-item-wrapper" class="offset4">  
			      <a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a>
			      <a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a>
			      <a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a>
			      <a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a>
			
			      <div id="nav"></div>
			      <div id="next" style="opacity: 1;"><a id="nextBt" href="#"></a></div>
			      <div id="previous" style="opacity: 1;"><a id="prevBt" href="#"></a></div>
				</div> 
	</div>
<% end %>
<div id="accordioncito" class="row-fluid">
	<h3><a href="#">Section 1</a></h3>
	<div>
		<div class="span10"></div>
		<div class="span10"></div>
		<div class="span10"></div>
		<div class="span10"></div>
		<div class="span10"></div>
		<div class="span10"></div>
		<div class="span10"></div>
		<div class="span10"></div>
		<div class="span10"></div>
		
		
	</div>
	<h3><a href="#">Section 2</a></h3>
	<div>
		
	</div>
	<h3><a href="#">Section 3</a></h3>
	<div>
		
	</div>
	<h3><a href="#">Section 4</a></h3>
	<div>
		
	</div>
</div>


