
<!-- Contenido navbar (barra de arriba) -->
<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid span9 offset1">
      <a class="brand" href="#">iHome</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> <% if current_user %> <%= current_user.email %> <% end %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!--<li><a href="#">Profile</a></li>
          <li class="divider"></li> -->
          <li><%=link_to "Log Out",log_out_path %></li>
        </ul>
      </div>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-list"></i> IBox
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
		<% if @iboxes.length > 0%>
          	<% for i in 0..@iboxes.length-1 %>
          	  <li><%= link_to @iboxes[i][:name], :controller => "home", :action => "index", :id => @iboxes[i][:id] %></li>
    		<%end%>
		<%end%>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><%= link_to "Control", :controller=>"home", :action=>"index"%></li>
          <% if @user.isAdmin %>
          <li><%= link_to "Administración", :controller=>"admin", :action=>"index"%></li>
        	<%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
<%if @iboxes.length > 0%>
	<%content_for :profiles do%>
	<div class="accordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#perfiles" data-toggle="collapse"><h3>Perfiles</h3></a>
			</div> 
			<div id="perfiles" class="collapse">  
				<div class="accordion-body collapse in">
					<div class="accordion-inner">
						sdfsdfdsffdsfsdfsdfsfs
					</div>
				</div>
			</div>  
		</div>
	</div> 
	<% end %>
	<% content_for :cameras do %>
	<div class="accordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#camaras" data-toggle="collapse"><h3>C&aacutemaras</h3></a>
			</div> 
			<div id="camaras" class="collapse in">  
				<div class="accordion-body collapse in">
					<div class="accordion-inner">
						<div class="span6 columns offset1">
							<div id="myCarousel" class="carousel slide">
							  <!-- Carousel items -->
							  <div class="carousel-inner">
							    <div class="active item offset1"><a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a></div>
							    <div class="item offset1"><a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a></div>
							    <div class="item offset1"><a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a></div>
							    <div class="item offset1"><a href="javascript:void(0);"><%= image_tag("camara.jpg", :class=>"rotating-item swipe")%></a></div>
							  </div>
							  <!-- Carousel nav -->
							  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
							  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
							</div>
						</div>
					</div>
				</div>
			</div>  
		</div>
	</div> 
	<% end %>
	<div class="accordion" id="accordion">
		<% @containers.each do |container| %>
			<div class="accordion-group">
		  		<div class="accordion-heading">
		    		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= container.name %>">
		      			<h3><%= container.name %></h3>
		    		</a>
				</div>
				<div id="<%= container.name %>" class="accordion-body collapse">
		    		<div class="accordion-inner">
		    			<ul class="entries"> 
								<%= render container.accessories %>
							</ul>
		    		</div>
				</div>
			</div>
		<% end %>
	</div>  
<%else%>
	<%= render 'shared/flash_messages' %>
<%end%>
