<!-- -->
<!-- Contenido navbar (barra de arriba) -->
<!-- -->
<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		<div class="span8 offset2">
			
		  <a class="brand" href="#"><%= image_tag("ihome.png", :size=>"23x21")%> iHome</a>
		  
		  
		  <div class="btn-group pull-right">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		      <% if session[:mobile]%>
		      <i class="icon-user"></i>
		      <%else%>
		      <i class="icon-user"></i> <% if current_user %> <%= current_user.email %> <% end %>
		      <%end%>
		      <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		      <li><a data-toggle="modal" onclick="javascript:resetModal();" href="#editUser">Editar</a></li>
		      <li class="divider"></li>
		      <li><%=link_to "Salir",log_out_path %></li>
		    </ul>
		  </div>
		  <div class="btn-group pull-right">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		      <% if @ibox%>
		      	<i class="icon-hdd"></i> <%=@ibox[:name]%>
		      <%else%>
		      	<i class="icon-hdd"></i> IBox
		      <%end%>
		      <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
				<% if @iboxes.length > 0%>
					<% for i in 0..@iboxes.length-1 %>
		    	  		<li><%= link_to @iboxes[i][:name], :controller => "home", :action => "changeIbox", :id => @iboxes[i][:id] %></li>
		  			<%end%>
				<%end%>
		    </ul>
		  </div>
		  <% if session[:mobile] == true %>
		  	<ul class="nav">
				<li class="dropdown">  
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Control
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu"
						<li><%= link_to "Control", :controller=>"home", :action=>"index"%></li>
						<li><%= link_to "Registro", :controller=>"activities", :action=>"index"%></li>
						<% if @user.isAdmin %>
							<li><%= link_to "Administración", :controller=>"admin", :action=>"index"%></li>
						<%end%>
					</ul>
				</li>
		    </ul>
		 	<% else %>
		    	<ul class="nav">
			    	<li class="active"><%= link_to "Control", :controller=>"home", :action=>"index"%></li>
			    	<li><%= link_to "Registro", :controller=>"activities", :action=>"index"%></li>
			    	<% if @user.isAdmin %>
			      		<li><%= link_to "Administración", :controller=>"admin", :action=>"index"%></li>
			    	<%end%>
		    	</ul>
			<%end%>
		</div>
	</div>
  </div>
</div>
<% end %> <!-- end navbar -->
<%if @iboxes.length > 0%>

	<!-- -->
	<!-- Contenido Perfiles  -->
	<!-- -->

	<%content_for :profiles do%>
	<% if flash[:notice] =~ /ibox/i or flash[:error] =~ /ibox/i %> <!-- muestro mensajes relacionados con el ibox -->
	<%= render "shared/flash_messages"%>
	<%end%>
	<div class="accordion" >
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#profiles" data-toggle="collapse"><h3><%= image_tag("profile2.png", :size=>"30x30")%><div style="visibility: hidden; display:inline;">&nbsp;&nbsp;</div>Perfiles</h3></a>
			</div> 
			<div id="profiles" class="collapse">  
				<div class="accordion-body collapse in">
					<div id="profiles_content" class="accordion-inner">
						<ul class="profentries"> 
							<%= render @user.profiles.where(:ibox_id => session[:ibox_id]) %>				
						</ul>
						<%= link_to 'Crear nuevo Perfil', new_profile_path, :class => 'btn btn-primary', :remote => true %>
						<a data-toggle="modal" href="#profilesHelp" role="button" data-backdrop="static" data-keyboard="true" class="btn btn-info">Ayuda</a>
					</div>
				</div>
			</div>  
		</div>
	</div> 
	<% end %> <!-- end profiles -->
	
	<!-- -->
	<!-- Contenido camaras -->
	<!-- -->
	
	<% content_for :cameras do %>
	

	

		<% if @cameras %>			
			<% if @cameras.length > 0%>
				<script type="text/javascript">
				function pauseCarousel(){
					$("#myCarousel").carousel('pause');
				}					
				window.onload = pauseCarousel;
				</script>
				<div class="accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" href="#camaras" data-toggle="collapse"><h3><%= image_tag("camaraicon.png", :size=>"30x30")%><div style="visibility: hidden; display:inline;">&nbsp;&nbsp;</div>C&aacute;maras</h3></a>
						</div> 
						<div id="camaras" class="collapse in">  
							<div class="accordion-body collapse in">
								<div class="accordion-inner">
									<div id="myCarousel" class="carousel slide">
									  <!-- Carousel items -->
									  <div class="carousel-inner">
									  	<!---->
									  	<!--LAPTOPS-->
									  	<!---->
									    <% if session[:mobile] == false %> <!-- si no esta en un dispositivo movil uso cameras/_camera.html.erb para renderizarlas -->
									    	<%= render @ibox.cameras %>
									  	<!---->
									  	<!-- MÓBILES-->
									  	<!---->								    								    											    
									  	<% else %>
									  		<script type="text/javascript">
												var g_nIndex = 0;
												alert("nadfa");
												function OnBtnRefresh(){
													//alert("OnBtnRefresh");
													//alert(g_nIndex);	
													g_nIndex ++;
													document.getElementById("imgDisplay").src = "http://200.28.166.104:81/snap.jpg?idx=" + g_nIndex;
													window.status=" ";
												}
												function OnImgLoad(){
													//alert("load");
													window.status=" ";
													setTimeout("OnBtnRefresh()",100);
												}
												function Login(url, id, user, pass){
													alert("Login);
											        var myIframe = parent.document.getElementById("login_"+id);
											        myIframe.src = 'http://' + url + '/login.xml?user='+user+"&usr="+user+"&password="+ pass +"&pwd="+ pass;
											    }
											    function camLeft(url, id){
											        var myIframe = parent.document.getElementById("move_"+id);
											        myIframe.src = 'http://' + url + '/moveptz.xml?dir=left';
											    }
											    function camRight(url, id){
											        var myIframe = parent.document.getElementById("move_"+id);
											        myIframe.src = 'http://' + url + '/moveptz.xml?dir=right';
											    }
											    function camUp(url, id){
											        var myIframe = parent.document.getElementById("move_"+id);
											        myIframe.src = 'http://' + url + '/moveptz.xml?dir=up';
											    }
											    function camDown(url, id){
											        var myIframe = parent.document.getElementById("move_"+id);
											        myIframe.src = 'http://' + url + '/moveptz.xml?dir=down';
											    }
											    function camStop(url, id){
											        var myIframe = parent.document.getElementById("move_"+id);
											        myIframe.src = 'http://' + url + '/moveptz.xml?dir=stop';
											    }
											    
											    function camLeftMobile(url, id){
											        var myIframe = parent.document.getElementById("move_"+id);
											        myIframe.src = 'http://' + url + '/moveptz.xml?dir=left';
											    }
											    function camRightMobile(url, id){
											        var myIframe = parent.document.getElementById("move_"+id);
											        myIframe.src = 'http://' + url + '/moveptz.xml?dir=right';
											    }
											    function camUpMobile(url, id){
											        var myIframe = parent.document.getElementById("move_"+id);
											        myIframe.src = 'http://' + url + '/moveptz.xml?dir=up';
											    }
											    function camDownMobile(url, id){
											        var myIframe = parent.document.getElementById("move_"+id);
											        myIframe.src = 'http://' + url + '/moveptz.xml?dir=down';
											    }
											</script>						  		
										  	<% for i in 0..@cameras.length-1%>											  												    	
										    	<% if i == 0 %>
										    		<% if @cameras[i][:model].to_s == 'linksys'%>	
										    			<div class="active item"><img class="camera" id='camera_<%= @cameras[i][:id].to_s %>' width='320' height='240' src='<%= url_for(:controller=>"cameras", :action =>"stream_image", :id=> @cameras[i][:id]) %>'></div>
										    		<% elsif @cameras[i][:model].to_s == 'PTZ' %>
										    			<div class="active item"><img src="http://<%=@cameras[i][:ip].to_s + ':' + @cameras[i][:port].to_s %>/snap.jpg" alt="snapshot" id="imgDisplay" NOSAVE onLoad="OnImgLoad()"></div>
										    		<%end%>												    																	
										    	<%else%>
										    		<% if @cameras[i][:model].to_s == 'linksys'%>
										    			<div class="item"><img class="camera" id='camera_<%= @cameras[i][:id].to_s %>' width='320' height='240' src='<%= url_for(:controller=>"cameras", :action =>"stream_image", :id=> @cameras[i][:id]) %>'></div></div>
										    		<% elsif @cameras[i][:model].to_s == 'PTZ' %>
										    			<div class="item"><img src="http://<%=@cameras[i][:ip].to_s + ':' + @cameras[i][:port].to_s %>/snap.jpg" alt="snapshot" id="imgDisplay" NOSAVE onLoad="OnImgLoad()"></div>
										    		<%end%>												
										    	<%end%>											    	
										    <%end%>
									  	<%end%>
									  </div>
										<% for i in 0..@cameras.length-1%> <!-- creo scripts para achicar la camara al tamaño de la pantalla del movil (Se crea afuera del inner para que no lo muestre)-->
										 	 <script type="text/javascript">											    		
												var width = screen.width*0.7;
												var height = screen.heigth*0.7;
												$("#camera_<%= @cameras[i][:id].to_s %>").width(width);
												$("#camera_<%= @cameras[i][:id].to_s %>").height(height);
								    		</script>
											<% if @cameras[i][:model] == 'PTZ' %>
												<iframe id='move_<%= @cameras[i][:id].to_s %>' width='0' height='0' marginwidth='0' marginheight='0' scrolling='no' frameborder='0' scrolling='no'></iframe>
												<iframe id='login_<%= @cameras[i][:id].to_s %>' width='0' height='0' marginwidth='0' marginheight='0' scrolling='no' frameborder='0' scrolling='no'></iframe>
												<script type="text/javascript">
													alert("entra");
													Login("<%= @cameras[i][:ip].to_s + ':' + @cameras[i][:port].to_s%>", "<%= @cameras[i][:id].to_s %>", "<%= @cameras[i][:user].to_s %>", "<%= @cameras[i][:password].to_s %>");
												</script>
											<%end%>
										<%end%>	

									  <!-- Carousel nav -->
									  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
									  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
									  <% if session[:mobile] %><!-- si esta en movil muestro boton para actualizar -->
										  <a class="btn btn-primary camera" href="#" onclick="window.location.reload();">Actualizar Cámaras</a>
										<%end%>
									</div>
								</div>
							</div>
						</div>  
					</div>
				</div>
			<%end%> 
		<% end %>
	
	<%end%> <!-- end cameras -->
	
	<!-- -->
	<!-- Contenido Accesorios-->
	<!-- -->
	
	<%content_for :accessories do %>
		<% if @testConnection == true %> <!-- si hubo conexion con el ibox muestro los acordiones de los accesorios -->				
			<div class="dropdown">
				<a class="btn btn-mini dropdown-toggle" id="drop4" data-toggle="dropdown" href="#">	Visualización <span class="caret"></span></a>
				<ul id="visual" class="dropdown-menu" role="menu" aria-labelledby="drop4">
					<li><a tabindex="-1" onclick="return false" id="acc" href="#">Categorias</a></li>
					<li><a tabindex="-1" onclick="return false" id="lst" href="#">Listado</a></li>
				</ul>
			</div>
	
			<!-- visualizacion por categorias -->
			<div class="accordion hide visualElem" id="accordion">
				<%= render 'accordion' %>
			</div>
				
			<!-- visualizacion por lista de elementos-->
			<div class="listado show visualElem" id="listEle">
				<%=  render 'listado' %>
			</div>

		<%end%> <!-- end if testconnection -->		
	<%end%> <!-- end accesories -->
<%else%> <!-- si no tiene iboxes renderizo mensaje -->
	<%= render 'shared/flash_messages' %>
<%end%>


<!-- MODAL EDICION DE USUARIO -->
<div id="editUser" class="modal hide">  
	<div class="modal-header">  
	<a class="close" data-dismiss="modal">×</a>  
	<h3>Editando Usuario</h3>  
	</div>  
	<div id="modal-edit" class="modal-body">  
	</div>  	 
</div>


<!-- Modal ayuda perfiles -->
<div id="profilesHelp" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">  
	<div class="modal-header">  
		<a class="close" data-dismiss="modal">×</a>  
		<h3>Ayuda sobre perfiles</h3>  
	</div>  
	<div class="modal-body">
		<h4>¿Qué es un perfil?</h4>
		<p>A través de un perfil podrás agrupar accesorios y programar su encendido y apagado de acuerdo a tus necesidades</p>
		
		<h4>Programación de perfiles</h4>
		<p>Para programar los accesorios de su perfil debe presioanr el botón 'Programar'</p>
		<p>Dentro de esta opción se listarán todos los accesorios de su perfil. Cada uno estará acompañado del botón 'Acciones' el cual permite agregar acciones programables por cada perfil del accesorio </p>
		<p>Una vez dentro de las acciones, presionando el boton 'Nueva Acción' podrá agregar nuevas acciones programables para el accesorio </p>
		
		<h4>Acciones</h4>
		<p>Para cada acción puede elegir el día de la semana y la hora de inicio y término</p>
		<p>Es posible configurar la acción para que funcione reiterativamente a través de las semanas presionando la opción "repetir todas las semanas" </p>
		<p>Si desea que su configuración horario sea aplicable a todos los días de la semana, presione la opción "repetir todos los dias" </p>
		<p>Atención! las acciones que se hayan completado y no tengan reiteraciones serán eliminadas automaticamente una vez ejecutadas! </p>
		
		<div class="modal-footer">
        	<button class="btn" data-dismiss="modal">Cerrar</button>
        </div>
	</div>
 	 
</div>

<!-- Javascript Editar Usuario -->
<script type="text/javascript">
	function resetModal(){
		$('#modal-edit').empty();
		$('#modal-edit').append('<%= j render "users/formEdit"%>');
	}
</script> 

<!-- Javascript Tipo Visualizacion usuario -->
<script type="text/javascript">
	$('#visual').on('click', 'li', function(event){
        $('.visualElem').each(function(index) {
            if(this.className.indexOf('show', 0) > -1){
                $("#"+this.id).fadeOut("fast", function(){
                    showPage(event.target.id);
                });
                $("#"+this.id).removeClass("show").addClass("hide");
                // found the visible page now break out of the each loop.
                return;
            }
		});
		   // show the selected page
		function showPage(thisTarget){
			if (thisTarget == "lst"){
				$("#listEle").fadeIn("fast").removeClass("hide").addClass("show");	
			}
			else{
				$("#accordion").fadeIn("fast").removeClass("hide").addClass("show");	
			}
		}			
	});
</script>
