<!-- Contenido navbar (barra de arriba) -->
<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid span9 offset1">
      <a class="brand" href="#">iHome</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> <% if current_user %> <%= current_user.email %> <% end %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!--<li><a href="#">Profile</a></li>
          <li class="divider"></li> -->
          <li><%=link_to "Log Out",log_out_path %></li>
        </ul>
      </div>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-list"></i> IBox
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
		<% if @iboxes.length > 0%>
          	<% for i in 0..@iboxes.length-1 %>
          	  <li><%= link_to @iboxes[i][:name], :controller => "home", :action => "index", :id => @iboxes[i][:id] %></li>
    		<%end%>
		<%end%>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><%= link_to "Control", :controller=>"home", :action=>"index"%></li>
          <% if @user.isAdmin %>
          <li><%= link_to "Administración", :controller=>"admin", :action=>"index"%></li>
        	<%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
<%if @iboxes.length > 0%>
	<%content_for :profiles do%>
	<div class="accordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#perfiles" data-toggle="collapse"><h3>Perfiles</h3></a>
			</div> 
			<div id="perfiles" class="collapse">  
				<div class="accordion-body collapse in">
					<div class="accordion-inner">
						En construcci&oacuten
					</div>
				</div>
			</div>  
		</div>
	</div> 
	<% end %>
	<% content_for :cameras do %>
		<% if @cameras %>
			<% if @cameras.length > 0%>
				<script type="text/javascript">
				function pauseCarousel(){
					$("#myCarousel").carousel('pause');
				}
				window.onload = pauseCarousel;
				var ver = function(id,ip,port){
					$('#camera_'+id).attr('src','http://'+ip+':'+port+'/video.cgi');
					$('#link_'+id).html("PARAR STREAMING");
					$('#link_'+id).attr('href','javascript:parar("'+id+'","'+ip+'","'+port+'")');
				};
				var parar = function(id,ip,port){
					$('#camera_'+id).attr('src','http://'+ip+':'+port+'/image/jpeg.cgi');
					$('#link_'+id).html("VER STREAMING");
					$('#link_'+id).attr('href','javascript:ver("'+id+'","'+ip+'","'+port+'")');
				};
				</script>
				<div class="accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" href="#camaras" data-toggle="collapse"><h3>C&aacutemaras</h3></a>
						</div> 
						<div id="camaras" class="collapse in">  
							<div class="accordion-body collapse in">
								<div class="accordion-inner">
									<div class="span6 columns offset1">
										<div id="myCarousel" class="carousel slide">
										  <!-- Carousel items -->
										  <div class="carousel-inner">
										    <% if session[:mobile] == false %>
										    	<%= render @ibox.cameras %>										    
										  	<% else %>
											  	<% for i in 0..@cameras.length-1%>
											    	<% if i == 0 %>
											    		<div class="active item offset1"><img id='camera_<%= @cameras[i][:id].to_s %>' width='320' height='240' src='http://<%= @cameras[i][:ip] + ':' + @cameras[i][:port]%>/image/jpeg.cgi'><div class="carousel-caption span2"><a id='link_<%=@cameras[i][:id].to_s %>' href='javascript:ver("<%= @cameras[i][:id].to_s %>","<%=@cameras[i][:ip]%>","<%=@cameras[i][:port]%>")'>VER STREAMING</a></div></div>
											    	<%else%>
											    		<div class="item offset1"><img id='camera_<%= @cameras[i][:id].to_s %>' width='320' height='240' src='http://<%= @cameras[i][:ip] + ':' + @cameras[i][:port]%>/image/jpeg.cgi'><div class="carousel-caption span2"><a id='link_<%=@cameras[i][:id].to_s %>' href='javascript:ver("<%= @cameras[i][:id].to_s %>","<%=@cameras[i][:ip]%>","<%=@cameras[i][:port]%>")'>VER STREAMING</a></div></div>
											    	<%end%>
											    <%end%>
										  	<%end%>
										  </div>
										  <!-- Carousel nav -->
										  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
										  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
										</div>
									</div>
								</div>
							</div>
						</div>  
					</div>
				</div>
			<%end%> 
		<% end %>
	<%end%>
	<div class="accordion" id="accordion">
		<% @containers.each do |container| %>
    	<div class="accordion-group">
	  		<div class="accordion-heading">
	    		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= container.name %>">
	      			<h3><%= container.name %></h3>
	    		</a>
			</div>
	    	<div id="<%= container.name %>" class="accordion-body collapse">  
	    		<div class="accordion-inner">
	    			<ul class="entries"> 
							<%= render container.accessories %>
					</ul>
	    		</div>
			</div>
		</div>
		<% end %>
	</div>
	  
<%else%>
	<%= render 'shared/flash_messages' %>
<%end%>

