<!-- Contenido navbar (barra de arriba) -->
<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		<div class="span8 offset2">
			
		  <a class="brand" href="#"><%= image_tag("ihome.png", :size=>"23x21")%> iHome</a>
		  
		  
		  <div class="btn-group pull-right">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		      <% if session[:mobile]%>
		      <i class="icon-user"></i>
		      <%else%>
		      <i class="icon-user"></i> <% if current_user %> <%= current_user.email %> <% end %>
		      <%end%>
		      <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		      <li><a data-toggle="modal" onclick="javascript:resetModal();" href="#editUser">Editar</a></li>
		      <li class="divider"></li>
		      <li><%=link_to "Salir",log_out_path %></li>
		    </ul>
		  </div>
		  <div class="btn-group pull-right">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		      <% if @ibox%>
		      	<i class="icon-hdd"></i> <%=@ibox[:name]%>
		      <%else%>
		      	<i class="icon-hdd"></i> IBox
		      <%end%>
		      <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
				<% if @iboxes.length > 0%>
					<% for i in 0..@iboxes.length-1 %>
		    	  		<li><%= link_to @iboxes[i][:name], :controller => "home", :action => "changeIbox", :id => @iboxes[i][:id] %></li>
		  			<%end%>
				<%end%>
		    </ul>
		  </div>
		  <% if session[:mobile] == true %>
		  	<ul class="nav">
		        <li class="dropdown">  
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      		Control
		      		<b class="caret"></b>
		    		</a>
		          <ul class="dropdown-menu"
		          <li><%= link_to "Control", :controller=>"home", :action=>"index"%></li>
		          <% if @user.isAdmin %>
		          	<li><%= link_to "Administración", :controller=>"admin", :action=>"index"%></li>
		        	<%end%>
		      		</ul>
		      	</li>
		    </ul>
		 	<% else %>
		    	<ul class="nav">
		    	<li class="active"><%= link_to "Control", :controller=>"home", :action=>"index"%></li>
		    	<% if @user.isAdmin %>
		      		<li><%= link_to "Administración", :controller=>"admin", :action=>"index"%></li>
		    	<%end%>
		    	</ul>
			<%end%>
		</div>
	</div>
  </div>
</div>
<% end %> <!-- end navbar -->
<%if @iboxes.length > 0%>
	<%content_for :profiles do%>
	<% if flash[:notice] =~ /ibox/i or flash[:error] =~ /ibox/i %> <!-- muestro mensajes relacionados con el ibox -->
	<%= render "shared/flash_messages"%>
	<%end%>
	<div class="accordion" >
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#profiles" data-toggle="collapse"><h2><%= image_tag("profile2.png", :size=>"40x40")%><div style="visibility: hidden; display:inline;">&nbsp;&nbsp;</div>Perfiles</h2></a>
			</div> 
			<div id="profiles" class="collapse">  
				<div class="accordion-body collapse in">
					<div id="profiles_content" class="accordion-inner">
						<ul class="profentries"> 
							<%= render @user.profiles %>				
						</ul>
						<%= link_to 'Crear nuevo Perfil', new_profile_path, :class => 'btn btn-primary', :remote => true %>
						<a data-toggle="modal" href="#profilesHelp" role="button" class="btn btn-info" data-toggle="modal">Ayuda</a>
					</div>
				</div>
			</div>  
		</div>
	</div> 
	<% end %> <!-- end profiles -->
	<% content_for :cameras do %>
		<% if @cameras %>
			<% if @cameras.length > 0%>
				<script type="text/javascript">
				function pauseCarousel(){
					$("#myCarousel").carousel('pause');
				}				
				window.onload = pauseCarousel;
				var ver = function(id,ip,port){
					$('#camera_'+id).attr('src','http://'+ip+':'+port+'/video.cgi');
					$('#link_'+id).html("PARAR STREAMING");
					$('#link_'+id).attr('href','javascript:parar("'+id+'","'+ip+'","'+port+'")');
				};
				</script>
				<div class="accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" href="#camaras" data-toggle="collapse"><h2><%= image_tag("camaraicon.png", :size=>"40x40")%><div style="visibility: hidden; display:inline;">&nbsp;&nbsp;</div>C&aacute;maras</h2></a>
						</div> 
						<div id="camaras" class="collapse in">  
							<div class="accordion-body collapse in">
								<div class="accordion-inner">
										<div id="myCarousel" class="carousel slide">
										  <!-- Carousel items -->
										  <div class="carousel-inner">
										    <% if session[:mobile] == false %> <!-- si no esta en un dispositivo movil uso cameras/_camera.html.erb para renderizarlas -->
										    	<%= render @ibox.cameras %>												    								    											    
										  	<% else %>										  		
											  	<% for i in 0..@cameras.length-1%>											  												    	
											    	<% if i == 0 %>
											    		<div class="active item offset1"><img id='camera_<%= @cameras[i][:id].to_s %>' width='320' height='240' src='<%= url_for(:controller=>"cameras", :action =>"stream_image", :id=> @cameras[i][:id]) %>'></div>
											    	<%else%>
											    		<div class="item offset1"><img id='camera_<%= @cameras[i][:id].to_s %>' width='320' height='240' src='<%= url_for(:controller=>"cameras", :action =>"stream_image", :id=> @cameras[i][:id]) %>'></div></div>
											    	<%end%>											    	
											    <%end%>
										  	<%end%>
										  </div>
										  <% for i in 0..@cameras.length-1%> <!-- creo scripts para achicar la camara al tamaño de la pantalla del movil (Se crea afuera del inner para que no lo muestre)-->
										  <script type="text/javascript">											    		
								    		var width = screen.width*0.7;
								    		var height = width*3/4;
								    		$("#camera_<%= @cameras[i][:id].to_s %>").width(width);
								    		$("#camera_<%= @cameras[i][:id].to_s %>").height(height);
								    		$("div.carousel-caption").css('width',width*0.87);
								    	</script>
								    	<%end%>		
										  <!-- Carousel nav -->
										  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
										  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
										</div>
								</div>
							</div>
						</div>  
					</div>
				</div>
			<%end%> 
		<% end %>

	<%end%> <!-- end cameras -->
	
	<%content_for :accessories do %>
		<% if @testConnection == true %> <!-- si hubo conexion con el ibox muestro los acordiones de los accesorios -->
		<div class="accordion" id="accordion">
			<% @containers.each do |container| %>
				<% @accessories = container.accessories.find_all { |acc| acc.users.find_by_id(@user.id) } %>
		    	<% @accessories = @accessories + container.accessories.find_all { |acc| acc.isPublic == true } %>		
				<% if ( (@user.isAdmin && container.accessories.length > 0) || ( @accessories.length > 0 ) )%>
			    	<div class="accordion-group">
				  		<div class="accordion-heading">
				    		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= container.name %>">
				      			<% if container.name == "Luces"%>
				      			<h2><%= image_tag("luzicon.png", :size=>"40x40")%><div style="visibility: hidden; display:inline;"> &nbsp;</div><%= container.name %></h2>
				      			<% elsif container.name == "Cortinas"%>
				      			<h2><%= image_tag("cortinaicon.png", :size=>"40x40")%><div style="visibility: hidden; display:inline;"> &nbsp;</div><%= container.name %></h2>
				      			<% elsif container.name == "Sensores"%>
				      			<h2><%= image_tag("sensor.png", :size=>"41x28")%><div style="visibility: hidden; display:inline;"> &nbsp;</div><%= container.name %></h2>
				      			<% elsif container.name == "Dimmers"%>				      			
				      			<h2><%= image_tag("dimmericon.png", :size=>"40x40")%><div style="visibility: hidden; display:inline;"> &nbsp;</div><%= container.name %></h2>
				      			<% elsif container.name == "Riegos"%>
				      			<h2><%= image_tag("riegoicon.png", :size=>"35x35")%><div style="visibility: hidden; display:inline;"> &nbsp;</div><%= container.name %></h2>
				      			<% elsif container.name == "Enchufes"%>
				      			<h2><%= image_tag("enchufeicon.png", :size=>"40x40")%><div style="visibility: hidden; display:inline;"> &nbsp;</div><%= container.name %></h2>
				      			<% else %>
			      				<h2><%= container.name %></h2>
				      			<%end%>
				    		</a>
						</div>
				    	<div id="<%= container.name %>" class="accordion-body collapse">  
				    		<div class="accordion-inner">
				    			<ul class="accentries"> 
				    				<% if @user.isAdmin %>
				    					<%= render container.accessories %>
				    				<% else %>
				    					<% @accessories = container.accessories.find_all { |acc| acc.users.find_by_id(@user.id) } %>
				    					<% @accessories = @accessories + container.accessories.find_all { |acc| acc.isPublic == true } %>
										<%= render @accessories %>
									<% end %>
								</ul>
				    		</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
		<%end%> <!-- end if testconnection -->
	<%end%> <!-- end accesories -->
	
<%else%> <!-- si no tiene iboxes renderizo mensaje -->
	<%= render 'shared/flash_messages' %>
<%end%>


<!-- MODAL EDICION DE USUARIO -->
<div id="editUser" class="modal hide fade">  
	<div class="modal-header">  
	<a class="close" data-dismiss="modal">×</a>  
	<h3>Editando Usuario</h3>  
	</div>  
	<div id="modal-edit" class="modal-body">  
	</div>  	 
</div>
<script type="text/javascript">
	function resetModal(){
		$('#modal-edit').empty();
		$('#modal-edit').append('<%= j render "users/formEdit"%>');
	}
</script>  

<div id="profilesHelp" class="modal hide fade">  
	<div class="modal-header">  
		<a class="close" data-dismiss="modal">×</a>  
		<h3>Ayuda para la creación de perfiles</h3>  
	</div>  
	<div class="modal-body">
		<h4>¿Qué es un perfil?</h4>
		<p>A través de un perfil usted podrá agrupar accesorios y programar su encendido y apagado de acuerdo a sus necesidades</p>
		
		<h4>Creación de perfiles</h4>
		<p>Para crear su perfil debe presioanr el botón <%= link_to 'Crear nuevo Perfil', nil, :class => 'btn btn-primary btn-mini' %></p>
		<p>Dentro de esta opción primero debe definir un nombre para su nuevo perfil</p>
		<p>Más abajo, en la lista del lado izquierdo se muestran aquellos dispositivos que pueden ser agregados al perfil. Para agregarlos presione sobre ellos. Los accesorios seleccionados estarán en la lista derecha </p>
		<p>Guarde su programación con el botón <%= link_to 'Guardar Cambios', nil, :class => 'btn btn-primary btn-mini' %></p>
		<p>En la vista principal, el botón <%= link_to 'Editar', nil, :class => 'btn btn-mini' %> le permitirá modificar los accesorios a controlar y el nombre del perfil</p> 
		
		<h4>Programación de perfiles</h4>
		<p>Para programar los accesorios de su perfil debe presioanr el botón <%= link_to 'Programar', nil, :class => 'btn btn-primary btn-mini' %></p>
		<p>Dentro de esta opción se listarán todos los accesorios de su perfil. Cada uno estará acompañado del botón <%= link_to 'Acciones', nil, :class => 'btn btn-primary btn-mini' %> el cual permite agregar acciones programables por cada perfil del accesorio </p>
		<p>Una vez dentro de las acciones, presionando el boton <%= link_to 'Nueva Acción', nil, :class => 'btn btn-primary btn-mini' %> podrá agregar nuevas acciones programables para el accesorio </p>
		
		<h4>Acciones</h4>
		<p>Para cada acción puede elegir el día de la semana y la hora de inicio y término</p>
		<p>Es posible configurar la acción para que funcione reiterativamente a través de las semanas presionando la opción "repetir todas las semanas" </p>
		<p>Si desea que su configuración horario sea aplicable a todos los días de la semana, presione la opción "repetir todos los dias" </p>
		<p>Atención! las acciones que se hayan completado y no tengan reiteraciones serán eliminadas automaticamente! </p>
		
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	</div>
	

	 	 
</div>

<script src="bootstrap.min.js"/>


