<%= form_for(@accessory_type, :remote=>true, :html => {:class => "form-horizontal"}) do |f| %>
	
	<fieldset>
		<%if @create %>
		<legend>Nuevo Tipo De Accesorio</legend>
		<%else%>
		<legend>Editando Tipo De Accesorio</legend>
		<%end%>
		<% if f.error_messages%>
	<%= f.error_messages :header_message => "Tipo de accesorio inválido",
  :message=> "",
  :header_tag => :h3 %>
	<%end%>
  <div class="control-group">
    <%= f.label :Nombre , :class=> "control-label"%>   
    <div class="controls">
    	<%= f.text_field :name, :class => "input-xlarge" %>
  	</div>
  </div>

  <div class="form-actions">
    <%if @crear %>
    	<%= f.submit "Crear", :class=> "btn btn-primary", :disable_with => 'Creando...' %>
    <%else%>
    	<%= f.submit "Actualizar", :class=> "btn btn-primary", :disable_with => 'Actualizando...' %>
    <%end%>
  </div>
  </fieldset>
<% end %>
