<% content_for :accessories do%>

<h1>Listing accessory_types</h1>

<table>
  <tr>
  	<th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accessory_types.each do |accessory_type| %>
  <tr>
  	<td><%= accessory_type.name %></td>
    <td><%= link_to 'Show', accessory_type %></td>
    <td><%= link_to 'Edit', edit_accessory_type_path(accessory_type) %></td>
    <td><%= link_to 'Destroy', accessory_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accessory type', new_accessory_type_path %>

<%end%>
