<% require 'base64'%>
<!-- Chequeo conexion con la camara -->
<% require 'net/http' 
 require 'uri' 
 ws = 'http://' + camera.ip + ':' + camera.port 
 url = URI.parse(ws) 
 ret = true 
	begin
      http = Net::HTTP.new(url.host, url.port)      
      http.open_timeout = 3
      http.read_timeout = 3
      response = http.start do |https|
        https.request_get(url.path + '/image/jpeg.cgi')
      end
    rescue Timeout::Error, Errno::EINVAL, Errno::ECONNRESET, EOFError, Errno::ETIMEDOUT,
      Net::HTTPBadResponse, Net::HTTPHeaderSyntaxError, Net::ProtocolError,SocketError => e
      ret = false
    end
%>
    <!-- fin chequeo conexion con la camara -->
<% @encode = Base64.encode64(camera.user + ':' + camera.password) %>
<% if camera.id == @ibox.cameras[0][:id] %>
	<div class="active item offset1">
<%else%>
	<div class="item offset1">
<%end%>
	<% if ret == true %><!-- si se establecio conexion la muestro -->
		<form action="http://<%= camera.ip + ':' + camera.port%>/Jview.htm" method="POST"></form>
	  <table border="0" cellspacing="0" cellpadding="0">
		  <tbody>
		  <tr>
		  <td bgcolor="black"><font color="white"><%= camera.name %><br></font></td>
		  </tr>
		  <tr>
		    <td colspan="2" align="center" bgcolor="white">
      		<APPLET name="cvcs" CODEBASE="http://<%= camera.ip + ':' + camera.port%>/" CODE="xplug.class" WIDTH=320 HEIGHT=240>
          <param name="RemotePort" value=<%=camera.port%>>
          <param name="Timeout" value=5000>
          <param name="RotateAngle" value=0>
          <param name="PreviewFrameRate" value=2>
          <param name="DeviceSerialNo" value="<%= @encode %>">
          </APPLET>
		    </td>
		  </tr>
		  </tbody>
		</table>
	<%else%>
		<table border="0" cellspacing="0" cellpadding="0">
		  <tbody>
		  <tr>
		  <td bgcolor="black"><font color="white"><%= camera.name %><br></font></td>
		  </tr>
		  <tr>
		    <td>No se ha podido establecer conexión con la cámara.</td>
		  </tr>
		  </tbody>
		</table>
	<%end%>
	</div> 							