<%= form_for(@camera, :remote=>true, :html => {:class => "form-horizontal"}) do |f| %>
 	<fieldset>
		<% if @edit %>
			<legend>Editando Cámara Web</legend>			
		<%else%>
			<legend>Nueva Cámara Web</legend>
		<%end%>
		<% if f.error_messages.length > 0 %>
			<%= f.error_messages :header_message => "Cámara inválida",
  			:message => "Necesitas arreglar los siguientes atributos:",
  			:header_tag => :h3 %> 
		<%end%>
		<div class="control-group">
        	<%= f.label :nombre_cámara, :class => "control-label" %>
        	<div class="controls">
            	<%= f.text_field :name, :class => "input-xlarge" %>
            </div>
		</div>
		
		<div class="control-group">
        	<%= f.label :DNS, :class => "control-label" %>
        	<div class="controls">
            	<%= f.text_field :ip, :class => "input-xlarge" %>
            </div>
		</div>
				
		<div class="control-group">
        	<%= f.label :Puerto, :class => "control-label" %>
        	<div class="controls">
            	<%= f.text_field :port, :class => "input-xlarge" %>
            </div>
		</div>

		<div class="control-group">
        	<%= f.label :Usuario, :class => "control-label" %>
        	<div class="controls">
            	<%= f.text_field :user, :class => "input-xlarge" %>
            </div>
		</div>
		
		<div class="control-group">
        	<%= f.label :Contraseña, :class => "control-label" %>
        	<div class="controls">
            	<%= f.password_field :password, :class => "input-xlarge" %>
            </div>
		</div>
		
		<div class="form-actions">
    	<% if @edit %>
    		<%= f.submit :Actualizar, :class => "btn btn-primary" %>
  		<%else%>
  			<%= f.submit :Crear, :class => "btn btn-primary" %>
  		<%end%>
    </div>
		
<% end %>
