<script type="text/javascript">
	$(function() {
		var correos = [];
		<% for i in 0..@usersAdmin.length-1 %>
			correos.push("<%= @usersAdmin[i][:email]%>");
		<%end%>			
		$( "#emailsUser" ).autocomplete({
			source: correos
		});
	});
</script>


<div class="ui-widget">
	<%= form_tag('/homeadmin/searchUsers', :remote=>true)%>
	<%= label_tag 'Buscar Usuarios por Correo:' %> <%= text_field_tag 'emailsUser' %>
	<%= submit_tag "Buscar" %>	
</div>