<% content_for :navbar do %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid span9 offset1">
      <a class="brand" href="#">iHome</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> <% if current_user %> <%= current_user.email %> <% end %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!--<li><a href="#">Profile</a></li>
          <li class="divider"></li> -->
          <li><%=link_to "Log Out",log_out_path %></li>
        </ul>
      </div>    
    </div>
  </div>
</div>
<% end %>

<%content_for :iboxes do%>
	<%= render :partial => "homeadmin/indexIbox" %>
<%end%>

<%content_for :accessories do%>
	<%= render :partial => "accessory_types/all" %>
<%end%>

<%content_for :users do%>
	<%= render :partial => "homeadmin/indexUser" %>
<%end%>
<%content_for :browseas do%>
	<%= render :partial=> "homeadmin/indexBrowseAs"%>
<%end%>
