<div class="span6 offset1">
<li>
  <span class="title"><%= accessory.name %></span>
	<%if accessory.kind == 'MultiLevelSwitch'%>		
		<%if accessory.cmdclass == "AllOnOff,Configuration"%> <!-- Dimmers -->
			<script type="text/javascript">
				$(function() {
					$( "#<%=accessory.zid%>" ).slider({
						value: <%=accessory.value%>,
						min: 0,
						max: 9,
						step: 1,
						slide: function( event, ui ) {
							$.post('accessories/control', { zid: '<%=accessory.zid%>', value: ui.value, kind: '<%=accessory.kind%>'});
						}
					});
				});
			</script>
			<div class="span1 offset2" id="<%=accessory.zid%>">
			</div>
		<% else %> <!-- Cortinas -->
			<div class="on_off">
				<% if accessory.value == 0 %>
	    	<input class="checkbox" type="checkbox" id="<%= accessory.zid%>" />
	    	<%else%>
	    	<input class="checkbox" type="checkbox" checked="checked" id="<%= accessory.zid%>" />
	    	<%end%>
	    </div>
	    <script type="text/javascript" charset="utf-8">
			$('.<%=accessory.zid%> :checkbox').iphoneStyle();
      var onchange_checkbox = ($('.on_off :checkbox')).iphoneStyle({
        onChange: function(elem, value) { 
          if (value == true){
          	$.post('accessories/control', { zid: '<%=accessory.zid%>', value: '9', kind: '<%=accessory.kind%>'});
          }else{
          	$.post('accessories/control', { zid: '<%=accessory.zid%>', value: '0', kind: '<%=accessory.kind%>'});
          }
        }
      });
		</script>
		<%end%>
	<%end%>
	<% if accessory.kind == 'BinarySwitch' %>
		<div class="on_off">
    	<% if accessory.value == 0 %>
	    	<input class="checkbox" type="checkbox" id="<%= accessory.zid%>" />
    	<%else%>
	    	<input class="checkbox" type="checkbox" checked="checked" id="<%= accessory.zid%>" />
    	<%end%>
    </div>
		<script type="text/javascript" charset="utf-8">
			$('.<%=accessory.zid%> :checkbox').iphoneStyle();
      var onchange_checkbox = ($('.on_off :checkbox')).iphoneStyle({
        onChange: function(elem, value) { 
          if (value == true){
          	$.post('accessories/control', { zid: '<%=accessory.zid%>', value: '1', kind: '<%=accessory.kind%>'});
          }else{
          	$.post('accessories/control', { zid: '<%=accessory.zid%>', value: '0', kind: '<%=accessory.kind%>'});
          }
        }
      });
		</script>
	<%end%>
  </span>
</li>
</div>