
<li>
  <span class="title"><%= accessory.name %></span>
  <a class="action">
	<%if accessory.kind == 'MultiLevelSwitch'%>
		<%= link_to "On", {:controller=>"accessories", :action=>"control",:zid=> accessory.zid, :value=> '9',:kind=>accessory.kind}, :remote=>true%>
		<%= link_to "Off", {:controller=>"accessories", :action=>"control",:zid=> accessory.zid, :value=> '0',:kind=>accessory.kind}, :remote=>true%>
	<%end%>
	<% if accessory.kind == 'BinarySwitch' or accessory.kind == 'BinarySensor'%>
	</a>

		<a class="on_off">
    	<input class="checkbox" type="checkbox" id="<%= accessory.zid%>" />
    </a>
	
		<script type="text/javascript" charset="utf-8">
			//alert("hola");
			$('.<%=accessory.zid%> :checkbox').iphoneStyle();
      var onchange_checkbox = ($('.on_off :checkbox')).iphoneStyle({
        onChange: function(elem, value) { 
          if (value == true){
          	$.post('accessories/control', { zid: '<%=accessory.zid%>', value: '1', kind: '<%=accessory.kind%>'});
          }else{
          	$.post('accessories/control', { zid: '<%=accessory.zid%>', value: '0', kind: '<%=accessory.kind%>'});
          }
        }
      });
			
			
		</script>
	<%end%>
  </span>
</li>
