<div id="<%= accessory.zid %>">
<table>
	<tr>
	<td><%= accessory.alias %></td>
	<%if accessory.kind == 'MultiLevelSwitch'%>
	<td><%= link_to "On", {:controller=>"accessories", :action=>"control",:zid=> accessory.zid, :value=> '9',:kind=>accessory.kind}%></td>
	<td><%= link_to "Off", {:controller=>"accessories", :action=>"control",:zid=> accessory.zid, :value=> '0',:kind=>accessory.kind}%></td>
	<%end%>
	<% if accessory.kind == 'BinarySwitch' or accessory.kind == 'BinarySensor'%>
	<td><%= link_to "On", {:controller=>"accessories", :action=>"control",:zid=> accessory.zid, :value=> '1',:kind=>accessory.kind}%></td>
	<td><%= link_to "Off", {:controller=>"accessories", :action=>"control",:zid=> accessory.zid, :value=> '0',:kind=>accessory.kind}%></td>
	<%end%>
	</tr>
</table>
	
</div>
