
<li>
  <span class="content"><%= accessory.name %></span>
  <span class="actions">
	<%if accessory.kind == 'MultiLevelSwitch'%>
		<%= link_to "On", {:controller=>"accessories", :action=>"control",:zid=> accessory.zid, :value=> '9',:kind=>accessory.kind}, :remote=>true%>
		<%= link_to "Off", {:controller=>"accessories", :action=>"control",:zid=> accessory.zid, :value=> '0',:kind=>accessory.kind}, :remote=>true%>
	<%end%>
	<% if accessory.kind == 'BinarySwitch' or accessory.kind == 'BinarySensor'%>
		<%= link_to "On", {:controller=>"accessories", :action=>"control",:zid=> accessory.zid, :value=> '1',:kind=>accessory.kind}, :remote=>true%>
		<%= link_to "Off", {:controller=>"accessories", :action=>"control",:zid=> accessory.zid, :value=> '0',:kind=>accessory.kind}, :remote=>true%>
	<%end%>
  </span>
</li>
