	
<% if @accessories %>
	<h3>Accesorios</h3>
	<table class="table table-striped">
	  <tr>
	    <th>Nombre</th>
	    <th>Id</th>
	    <th>Tipo</th>		    
	    <th>Público</th>
	    <th>Acciones</th>
	  </tr>
	<% for i in 0..@accessories.length-1 %>
		  <% for j in 0..@accessories[i].length-1%>
		  <tr>
		  	<td><%= @accessories[i][j][:name] %></td>
		  	<td><%= @accessories[i][j][:id] %></td>
		  	<td><%= @containers[i][:name] %></td>
		  	<td><%= @accessories[i][j][:isPublic] ? 'si' : 'no'  %></td>
		  	<td><%= link_to "Editar", edit_accessory_path(@accessories[i][j]),:class => 'btn btn-mini' ,:remote=>true %>
		 		<%= link_to "Eliminar", destroy_accessory_unplugged_path(:id => @accessories[i][j].id ), 
		 			{ :confirm => '¿Estás seguro? Recuerde desenchufar su accessorio antes de presionar Ok',
		 			  :class => "btn btn-mini btn-danger", :remote => true, :disable_with => 'Eliminando...'} %>
		  	</td>
		  </tr>
		  <% end%>
	<% end %>
	</table>
	<div class="btn-group">
		<%= link_to "Agregar nuevo", listen_to_add_accessory_path,
			{ :confirm => 'Luego de presionar el botón tiene 20 segundos para presionar reiteradamente el boton de conexión en el accesorio', :class => "btn btn-success", :remote => 'true', :disable_with => 'Agregando...'} %>
		<%= link_to "Eliminar", listen_to_remove_accessory_path,
			{ :confirm => 'Luego de presionar el botón tiene 20 segundos para presionar reiteradamente el boton de conexión en el accesorio', :class => "btn btn-danger", :remote => 'true', :disable_with => 'Eliminando...'} %>
	</div>
		
<%else%>
	<%= render 'shared/flash_messages' %>
<%end%>



