	
<% if @accessories %>
	<h3>Accesorios</h3>
	<table class="table table-striped">
	  <tr>
	    <th>Nombre</th>
	    <th>Id</th>
	    <th>Tipo</th>		    
	    <th>Público</th>
	    <th>Acciones</th>
	  </tr>
	<% for i in 0..@accessories.length-1 %>
		  <% for j in 0..@accessories[i].length-1%>
		  <tr>
		  	<td><%= @accessories[i][j][:name] %></td>
		  	<td><%= @accessories[i][j][:id] %></td>
		  	<td><%= @containers[i][:name] %></td>
		  	<td><%= @accessories[i][j][:isPublic] ? 'si' : 'no'  %></td>
		  	<td><%= link_to "Editar", edit_accessory_path(@accessories[i][j]),:class => 'btn btn-mini' ,:remote=>true%>
		  		<%= link_to 'Eliminar', @accessories[i][j], :data=> {:confirm => '¿Estás seguro? Recuerde desenchufar su accessorio antes de presioanr Ok '}, :method => :delete, :class => 'btn btn-mini btn-danger', :remote=>true %>
		  	</td>
		  </tr>
		  <% end%>
	<% end %>
	</table>
	<%= button_to "Escuchar Agregar", 
		{ :controller => "iboxes", :action => "listenToAddAccessory"}, 
		{ :class => "btn btn-success", :remote => 'true', :disable_with => 'Escuchando...'} %>

	<%= button_to "Escuchar Eliminar", 	
		{ :controller => "iboxes", :action => "listenToRemoveAccessory"},
		{ :class => "btn btn-success", :remote => 'true', :disable_with => 'Escuchando...'} %>
	
<%else%>
	<%= render 'shared/flash_messages' %>
<%end%>



