<!DOCTYPE html>
<html>
<head>
  <title>iHome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= yield :navbar %>
	<div class="container fill">
		<div class="span6 offset3">
			<%= yield %>
		</div>
	</div>

	
	<div class="navbar navbar-fixed-bottom footer">
		<div class="navbar-inner footinner">
			<% if session[:mobile] == true %>
				<p class="navbar-text">Atención clientes: 600 600 3300</p>
			 <% else %>
				<p class="navbar-text">Atención clientes: 600 600 3300. Te ayudamos a navegar: 800 760 667. &copy; Ingenier&iacute;a Bissen. Todos los Derechos Reservados</p>
			<%end%>
		</div>
	</div>

</body>
</html>