<!DOCTYPE html>
<html>
<head>
  <title>Ihome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
</head>
<body>
	
	<%= yield :navbar %>
	
	<div class="container-fluid span10 offset1">
		<div class="accordion" id="accordion">
			<div class="accordion-group">
			  <div class="accordion-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#iboxes">
			      Ibox
			    </a>
			  </div>
			  <div id="iboxes" class="accordion-body collapse in">
			    <div class="accordion-inner">
					<%= yield :iboxes %>
			    </div>
			  </div>
			</div>
			<div class="accordion-group">
			  <div class="accordion-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#users">
			     Agregar/Editar Usuarios
			    </a>
			  </div>
			  <div id="users" class="accordion-body collapse">
			    <div class="accordion-inner">
						<%= yield :users %>	    
					</div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset6">&copy; Bissen</div>
	</div>
</body>
</html>
