<!DOCTYPE html>
<html>
<head>
  <title>iHome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= yield :navbar %>
	
	<div class="container fill">
		<div class="span6 offset3">
			<div class="accordion" id="accordion">
				
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#iboxitos">
				      <h3><%= image_tag("ibox.png", :size=>"30x30")%><div style="visibility: hidden; display:inline;">&nbsp;</div>Ibox</h3>
				    </a>
				  </div>
				  <div id="iboxitos" class="accordion-body collapse">
				    <div id="iboxes" class="accordion-inner">
						<%= yield :iboxes %>
				    </div>
				  </div>
				</div>
				<% if @iboxes.length > 0 %>
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#users-body">
				     <h3><%= image_tag("usericon.png", :size=>"30x30")%><div style="visibility: hidden; display:inline;">&nbsp;</div>Usuarios</h3>
				    </a>
				  </div>
				  <div id="users-body" class="accordion-body collapse">
				    <div id="users" class="accordion-inner">
							<%= yield :users %>	    
						</div>
				  </div>
				</div>
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#sensors-body">
				     <h3><%= image_tag("sensor.png", :size=>"33x23")%><div style="visibility: hidden; display:inline;">&nbsp;</div>Sensores</h3>
				    </a>
				  </div>
				  <div id="sensors-body" class="accordion-body collapse">
				    <div id="sensors" class="accordion-inner">
							<%= yield :sensors %>	    
						</div>
				  </div>
				</div>	
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#accessories-body">
				     <h3><%= image_tag("accesorios2.png", :size=>"30x33")%><div style="visibility: hidden; display:inline;">&nbsp;</div>Accesorios</h3>
				    </a>
				  </div>
				  <div id="accessories-body" class="accordion-body collapse">
				    <div id="accessories" class="accordion-inner">
							<%= yield :accessories %>	    
						</div>
				  </div>
				</div>
				
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#camaritas">
				     <h3><%= image_tag("camaraicon.png", :size=>"30x30")%><div style="visibility: hidden; display:inline;">&nbsp;</div>C&aacute;maras</h3>
				    </a>
				  </div>
				  <div id="camaritas" class="accordion-body collapse">
				    <div id="cameras" class="accordion-inner">
							<%= yield :cameras %>	    
						</div>
				  </div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<%= yield %>
	
	</br>
	</br>

	<div class="navbar navbar-fixed-bottom footer">
		<div class="navbar-inner footinner">
			<% if session[:mobile] == true %>
				<p class="navbar-text">Atención clientes: 600 600 3300</p>
			 <% else %>
				<p class="navbar-text">Atención clientes: 600 600 3300. Te ayudamos a navegar: 800 760 667. &copy; Ingenier&iacute;a Bissen. Todos los Derechos Reservados</p>
			<%end%>
		</div>
	</div>	
	
</body>
</html>
