<!DOCTYPE html>
<html>
<head>
  <title>iHome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= yield :navbar %>
	
	<div class="container fill">
		<div class="span6 offset3">
			<div class="accordion" id="accordion">
				
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#iboxitos">
				      <h2>Ibox</h2>
				    </a>
				  </div>
				  <div id="iboxitos" class="accordion-body collapse">
				    <div id="iboxes" class="accordion-inner">
						<%= yield :iboxes %>
				    </div>
				  </div>
				</div>
				<% if @iboxes.length > 0 %>
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#users-body">
				     <h2><%= image_tag("usericon.png", :size=>"40x40")%>Usuarios</h2>
				    </a>
				  </div>
				  <div id="users-body" class="accordion-body collapse">
				    <div id="users" class="accordion-inner">
							<%= yield :users %>	    
						</div>
				  </div>
				</div>
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#sensors-body">
				     <h2>Sensores</h2>
				    </a>
				  </div>
				  <div id="sensors-body" class="accordion-body collapse">
				    <div id="sensors" class="accordion-inner">
							<%= yield :sensors %>	    
						</div>
				  </div>
				</div>	
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#accessories-body">
				     <h2>Accesorios</h2>
				    </a>
				  </div>
				  <div id="accessories-body" class="accordion-body collapse">
				    <div id="accessories" class="accordion-inner">
							<%= yield :accessories %>	    
						</div>
				  </div>
				</div>
				
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#camaritas">
				     <h2><%= image_tag("camaraicon.png", :size=>"40x40")%>C&aacutemaras</h2>
				    </a>
				  </div>
				  <div id="camaritas" class="accordion-body collapse">
				    <div id="cameras" class="accordion-inner">
							<%= yield :cameras %>	    
						</div>
				  </div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<%= yield %>
	<!-- FOOTER -->
	<div class="container fill">
		<div class="span3 offset5"><h3>&copy; Ingenier&iacute;a Bissen</h3></div>
	</div>
</body>
</html>
