<!DOCTYPE html>
<html>
<head>
  <title>Ihome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
</head>
<body>
	<%= yield :navbar %>
	<div class="container-fluid span9 offset1">
		<div class="accordion" id="accordion">
			
			<div class="accordion-group">
			  <div class="accordion-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#iboxitos">
			      <h3>Ibox</h3>
			    </a>
			  </div>
			  <div id="iboxitos" class="accordion-body collapse">
			    <div id="iboxes" class="accordion-inner">
					<%= yield :iboxes %>
			    </div>
			  </div>
			</div>
			
			<div class="accordion-group">
			  <div class="accordion-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#usuaritos">
			     <h3>Agregar/Editar Usuarios</h3>
			    </a>
			  </div>
			  <div id="usuaritos" class="accordion-body collapse">
			    <div id="users" class="accordion-inner">
						<%= yield :users %>	    
					</div>
			  </div>
			</div>
				
			<div class="accordion-group">
			  <div class="accordion-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#accessories-body">
			     <h3>Editar Accesorios</h3>
			    </a>
			  </div>
			  <div id="accessories-body" class="accordion-body collapse">
			    <div id="accessories" class="accordion-inner">
						<%= yield :accessories %>	    
					</div>
			  </div>
			</div>
			
			<div class="accordion-group">
			  <div class="accordion-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#camaritas">
			     <h3>Agregar/Editar C&aacutemaras</h3>
			    </a>
			  </div>
			  <div id="camaritas" class="accordion-body collapse">
			    <div id="cameras" class="accordion-inner">
						<%= yield :cameras %>	    
					</div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset6">&copy; Bissen</div>
	</div>
</body>
</html>
