<!DOCTYPE html>
<html>
<head>
  <title>iHome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="span10 offset1">
					<a class="brand" href="#"><%= image_tag("ihome.png", :size=>"23x21")%> iHome</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container fill-session">
		<div class="row">
		  	<%= yield %>
		</div>
	</div>
	
	</br>
	</br>

	<!-- FOOTER -->
	<div class="navbar navbar-fixed-bottom footer">
		<div class="navbar-inner footinner">
			<p class="navbar-text">Atención clientes: 600 600 3300. Te ayudamos a navegar: 800 760 667. &copy; Ingenier&iacute;a Bissen. Todos los Derechos Reservados</p>
		</div>
	</div>
</body>
</html>
