<!DOCTYPE html>
<html>
<head>
  <title>Ihome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<script type="text/javascript">
	$(function() {
		$("#accordion").accordion();
	});
	</script>
	<% yield :navbar %>
	<!--<div class="row-fluid">	
		<div class="span12"></div>
	</div>
	<div class="row-fluid">	
		<div class="span12"></div>
	</div>
	<div class="row-fluid">	
		<div class="span12"></div>
	</div> -->
	
	<div class="container-fluid span10 offset1">
		<!--<div class="span10 offset1"> -->
<div id="accordion" class="row-fluid">
	<h3><a href="#">Crear Ibox</a></h3>
	<div id="iboxes	">
		<%= yield :iboxes %>
	</div>
	<h3><a href="#">Agregar tipo de accesorios</a></h3>
	<div id="accessories">
		<%= yield :accessories %>
	</div>
	<h3><a href="#">Navegar como</a></h3>
	<div id="browseas">
		<%= yield :browseas %>
	</div>
</div>		<!--</div>-->
		<div class="row">
			<div class="span3 offset6">&copy; Bissen</div>
  	</div>
	</div>
<%= yield %>
	
</body>
</html>
