<!DOCTYPE html>
<html>
<head>
  <title>iHome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= yield :navbar %>
	<div class="container fill">
		<div class="span6 offset3">
			<%= yield :profiles %>
			<%= yield :accessories %>
			<%= yield :cameras %>
			<%= yield %>
		</div>
	</div>
	<!-- 
	<footer>
		<div class="container fill">
			<div class="span3 offset5 footer"><h3>&copy; Ingenier&iacute;a Bissen</h3></div>
		</div>
	</footer>
	FOOTER -->
	
	</br>
	</br>
	
	<div class="navbar navbar-fixed-bottom footer">
		<div class="navbar-inner footinner">
			<p class="navbar-text">Atención clientes: 600 600 3300. Te ayudamos a navegar: 800 760 667. &copy; Ingenier&iacute;a Bissen. Todos los Derechos Reservados</p>
		</div>
	</div>

</body>
</html>