<!DOCTYPE html>
<html>
<head>
  <title>iHome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= yield :navbar %>
	<div class="container fill">
		<div class="span6 offset3">
			<%= yield :profiles %>
			<%= yield :accessories %>
			<%= yield :cameras %>
			<%= yield %>
		</div>
	</div>
	<!-- FOOTER -->
	<footer>
		<div class="container fill">
			<div class="span3 offset5 footer"><h3>&copy; Ingenier&iacute;a Bissen</h3></div>
		</div>
	</footer>
</body>
</html>