<!DOCTYPE html>
<html>
<head>
  <title>iHome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= yield :navbar %>
	<div class="container fill">
		<div class="span10 offset1">
		<div class="accordion" id="accordion">
			<div class="accordion-group">
			  <div class="accordion-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#iboxitos">
			      <h3>Ibox</h3>
			    </a>
			  </div>
			  <div id="iboxitos" class="accordion-body collapse">
			    <div id="iboxes" class="accordion-inner">
					<%= yield :iboxes %>
			    </div>
			  </div>
			</div>
			<div class="accordion-group">
			  <div class="accordion-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#accessoritos">
			      <h3>Tipos de accesorios</h3>
			    </a>
			  </div>
			  <div id="accessoritos" class="accordion-body collapse">
			    <div id="accessories" class="accordion-inner">
					<%= yield :accessories %>
			    </div>
			  </div>
			</div>
			<div class="accordion-group">
			  <div class="accordion-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#usuaritos">
			     <h3>Agregar/Editar Usuarios</h3>
			    </a>
			  </div>
			  <div id="usuaritos" class="accordion-body collapse">
			    <div id="users" class="accordion-inner">
						<%= yield :users %>	    
					</div>
			  </div>
			</div>
			<div class="accordion-group">
			  <div class="accordion-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#browseasito">
			      <h3>Navegar como</h3>
			    </a>
			  </div>
			  <div id="browseasito" class="accordion-body collapse">
			    <div id="browseas" class="accordion-inner">
					<%= yield :browseas %>
			    </div>
			  </div>
			</div>
		</div>
		</div>
	</div>
	<!-- FOOTER -->
	<div class="container fill">
		<div class="span3 offset5"><h3>&copy; Ingenier&iacute;a Bissen</h3></div>
	</div>
</body>
</html>
